{% load i18n wiki_tags %}
<div>
   <div class="illustration-container">
      <div class="contribute-small"></div>
   </div>
   <div class="contribution-area">
      {% if article|can_write:user and not article.current_revision.locked %}
      <p><a href="{% url 'wiki:edit' article_id=article.id path=urlpath.path %}" class="px-3 nav-link">
         <span class="hidden-xs">{% trans "Edit" %}</span>
         </a>
      </p>
      {% endif %}
      <p>
         <a href="{% url 'wiki:history' article_id=article.id path=urlpath.path %}" class="px-3 nav-link">
         <span class="hidden-xs">{% trans "Changes" %}</span>
         </a>
      </p>
      {% for plugin in article_tabs %}
      <p>
         <a href="{% url 'wiki:plugin' slug=plugin.slug article_id=article.id path=urlpath.path %}" class="px-3 nav-link">
         <span class="hidden-xs">{{ plugin.article_tab.0 }}</span>
         </a>
      </p>
      {% endfor %}
      {% if not user.is_anonymous %}
      <p>
         <a href="{% url 'wiki:settings' article_id=article.id path=urlpath.path %}" class="px-3 nav-link">
         <span class="hidden-xs">{% trans "Settings" %}</span>
         </a>
      </p>
      {% endif %}
   </div>
</div>
