{% extends "birdsong/mail/base_email.html" %}

{% block email_body %}
    <mj-section>
      <mj-column>
        <mj-image src="https://beta.strafrecht-online.org/media/images/Banner_Startseite_Rabe.original.jpg" />
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column >
        <mj-text align="center" font-weight="700" padding="0" font-size="24px">
        {% block email_name %}{% endblock %}
        {{ self.name }}
        </mj-text>
        <mj-divider border-width="2px" border-color="#616161"></mj-divider>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text>
		{% for b in self.body %}
			{{ b }}
		{% endfor %}
        </mj-text>
    	<mj-divider border-width="2px" border-color="#616161"></mj-divider>
      </mj-column >
    </mj-section>
    <mj-section>
      <mj-column >
        <mj-text>
	  <p>Bisherige Newsletter finden Sie hier:</p>
	  <p><a href="{{ site.root_url }}/archiv/lsh-newsletter/">{{ site.hostname }}/archiv/lsh-newsletter/</a></p>
	  <p>Roland Hefendehl & Team</p>
	  <p>Institut f&uuml;r Kriminologie und Wirtschaftsstrafrecht</p>
	  <p>Tel.: +49 761 203 2210">+49</p>
	  <p>Mail: <a href="mailto:hefendehl@jura.uni-freiburg.de">hefendehl@jura.uni-freiburg.de</a></p>
	  <p>Netz: <a href="https://strafrecht-online.org">strafrecht-online.org</a></p>
	  <br>
	  <p><a href="{{ site.root_url }}{% url 'unsubscribe' contact.id %}">Klicken Sie hier, wenn Sie sich von diesem Newsletter abmelden wollen.</a></p>
        </mj-text>
      </mj-column>
    </mj-section>
{% endblock email_body %}
