{% extends "birdsong/mail/base_email.html" %}

{% block email_body %}
    <mj-section>
       <mj-column>
         <mj-image src="https://strafrecht-online.org/media/images/Banner_Rabe_Logo.original.png" />
       </mj-column>
     </mj-section>
    <mj-section>
      <mj-column >
        <mj-text align="center" font-weight="700" padding="0" font-size="24px">
        {% block email_name %}{% endblock %}
        {{ self.name }}
        </mj-text>
        <mj-divider border-width="2px" border-color="#616161"></mj-divider>
      </mj-column>
    </mj-section>
    <mj-section>
      <mj-column>
        <mj-text>
		{% for b in self.body %}
			{{ b }}
		{% endfor %}
        </mj-text>
    	<mj-divider border-width="2px" border-color="#616161"></mj-divider>
      </mj-column >
    </mj-section>
    <mj-section>
      <mj-column >
        <mj-text style="margin-top: 10px; margin-bottom: 0;">
          <p style="line-height: 1em;">Bisherige Newsletter finden Sie hier:</p>
          <p style="line-height: 1em;"><a href="{{ site.root_url }}/archiv/lsh-newsletter/">{{ site.hostname }}/archiv/lsh-newsletter/</a></p>
	  <br>
          <p style="line-height: 1em;">Roland Hefendehl & Team</p>
          <p style="line-height: 1em;">Institut f&uuml;r Kriminologie und Wirtschaftsstrafrecht</p>
          <p style="line-height: 1em;">Tel.: +49 761 203 2210</p>
          <p style="line-height: 1em;">Mail: <a href="mailto:hefendehl@jura.uni-freiburg.de">hefendehl@jura.uni-freiburg.de</a></p>
          <p style="line-height: 1em;">Netz: <a href="https://strafrecht-online.org">strafrecht-online.org</a></p>
	  <br>
          <p><a href="{{ site.root_url }}{% url 'unsubscribe' contact.id %}">Klicken Sie hier, wenn Sie sich von diesem Newsletter abmelden wollen.</a></p>
        </mj-text>
      </mj-column>
    </mj-section>
{% endblock email_body %}
