{% load menu_tags wagtailcore_tags %}

<nav id="nav" class="navbar navbar-expand-lg {% if page.slug == "strafrecht-online" %}navbar-trans{% endif %}" style="flex-direction: column; justify-content: flex-start; padding: 5px 0; position: absolute; top: 0; width: 100%; background: transparent; border: none;">

	<div class="container" style="margin: 8px 0px; padding: 0px;">
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample05">
			<div class="navbar-collapse-inner">
				<div style="display: flex; width: 100%; align-items: center;">

					<ul class="navbar-nav" style="flex-grow: 1;">
						{% for item in menu_items %}
							{% if item.has_children_in_menu %}
								<li class="{{ item.active_class }} nav-item dropdown">
									<a href="{{ item.href }}" id="navbar-dropdown-{{ item.link_page.pk }}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 16px !important;">
										{{ item.text }}
									</a>

									{% sub_menu item template="menus/custom_sub_menu.html" %}
								</li>
							{% else %}
								<li class="{{ item.active_class }} nav-item">
									<a class="nav-link" href="{{ item.href }}">{{ item.text }}</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>

					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<form action="/search">
								<input id="nav-search" name="query" type="text" placeholder="Wonach suchst Du?" >
							</form>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user-circle mr-2" style="font-size: 22px;"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{% url 'profile:index' %}">Profile</a>
								<a class="dropdown-item" href="#">Settings</a>
								<a class="dropdown-item" href="{% url 'profile:logout' %}">Logout</a>
							</div>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'profile:login' %}">Einloggen</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{# url 'profile:register' #}">Registrieren</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
<script>
jQuery(function($) {
	if (window.matchMedia('(minx-width: 991px)').matches) {
	$('.navbar-nav:nth-child(1) > .nav-item').hover(function() {
		$(this).find('.dropdown-menu').first().stop(true, true).delay(230).show(0);
	}, function() {
		$(this).find('.dropdown-menu').first().stop(true, true).delay(500).hide(0);
	});
	$('.navbar-nav:nth-child(1) > .nav-item > a').click(function(){
		location.href = this.href;
	});
	}
});
</script>
