{% load wagtailcore_tags menu_tags %}

<div class="dropdown-menu" aria-labelledby="navbar-dropdown-{{ parent_page.pk }}">
  {% if item.href == "/jurcoach/" %}
  <p><a class="dropdown-item" href="{% url 'wiki:root' %}">Problemfeld-Wiki</a></p>
  <p><a class="dropdown-item" href="{% url 'quiz:index' %}">MCT</a></p>
  <p><a class="dropdown-item" href="{% url 'casetraining:index' %}">Falltraining</a></p>
  <p><a class="dropdown-item" href="{% url 'tandem_exams:index' %}">Tandemklausuren</a></p>
  {% endif %}
  {% for sub_item in menu_items %}
  <p><a class="dropdown-item" href="{{ sub_item.href }}">{{ sub_item.text }}</a></p>
  {% endfor %}
</div>