$footer-height: 130px;

footer {
	min-height: $footer-height;
	padding: 10px 0 10px 0;
}
footer .container {
	max-width: 1100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: $footer-height;
}
footer .container .flex-item {
	width: 50%;
	&:nth-of-type(2) {
		text-align: right;
	}
}
footer .container .flex-item p.logo {
    text-transform: uppercase;
    font-weight: 600;
    font-family: $serif-font;
    font-size: 1.2em;
    margin-bottom: 10px;
}
footer .container .flex-item p.sublogo {
    font-size: 0.8em;
    margin-bottom: 0px;
}
footer .shortlinks a {
	font-size: 0.8em;
	color: #000000;
	&:hover{
		text-decoration: none;
		color: #000000 !important;
	}
}
footer .socialmediaicons {
	margin-bottom: 20px;
}
footer .socialmediaicons a.social-media-icon {
	font-size: 25px !important;
	width: 25px !important;
	text-align: center;
	text-decoration: none;
	margin: 0px 2px;
	color: #000000 !important;
	&:hover{
		text-decoration: none;
		color: #999999 !important;
	}
}
