footer {
	min-height:200px;
	padding: 10px 0 10px 0;
}
footer .container {
	max-width: 1100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 200px;
}
footer .container .flex-item {
	width: 50%;
}
footer .shortlinks, footer .socialmediaicons {
	display: inline-block;
	margin: 0 15px 0 0;
	float: right;
}
footer .shortlinks a {
	font-size: 14px;
	color: #000000;
	&:hover{
		text-decoration: none;
		color: #000000 !important;
	}
}
footer .socialmediaicons a.social-media-icon {
	font-size: 25px !important;
	width: 25px !important;
	text-align: center;
	text-decoration: none;
	margin: 0px 2px;
	color: #000000 !important;
	&:hover{
		text-decoration: none;
		color: #999999 !important;
	}
}
