$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "chartist/dist/chartist.css";
@import "swiper/css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "fonts.scss";

$body-color: #3d3d3d;
$yellow: #ffe200;
$green: #add345;
$red: #ce0000;
$bg-gray: #e8e7df;
$line-gray:#e8e7e0;
$serif-font: 'Roboto Slab';
$container-width: 960px;

body {
  background: #fafafa;
  color: $body-color;
  font-family: sans-serif;
}

.breadcrumb-new {
  font-size: 0.8em;
  margin: 0 auto;
  top: 10px;
  position: relative;

  a {
    font-weight: 300 !important;
    font-size: inherit !important;
  }
}

h2 {
  font-size: 28px;
  font-weight: 800 !important;
  font-family: $serif-font;
  background: repeating-linear-gradient(to bottom, transparent, transparent 20px, #ffe200 20px, #ffe200 45px) !important;
  line-height: 10px !important;
  display: inline !important;
  margin-bottom: 50px !important;
}

h3,
h3 b {
  color: #333 !important;
  font-family: $serif-font;
  font-size: 23px !important;
  font-weight: 800 !important;
  background: repeating-linear-gradient(to bottom, transparent, transparent 14px, #e8e7df 14px, #e8e7df 32px);
  line-height: 32px !important;
  line-height: 0 !important;
  display: inline !important;
  margin-bottom: 20px !important;
}

h4,
h4 b {
  color: #333 !important;
  font-family: $serif-font;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  line-height: 0 !important;
  display: inline !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h2::before,
h2::after,
h3::before,
h3::after,
h4::before,
h4::after{
  content: '\A';
  white-space: pre;
}

.block-richtext h2 a,
.block-richtext h3 a,
.block-richtext h4{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.block-richtext h2 a:hover,
.block-richtext h3 a:hover,
.block-richtext h4 a:hover{
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "bookmarks.scss";
@import "inline_icons.scss";
@import "old/base.scss";
@import "pages/jurcoach.scss";
@import "pages/quiz.scss";
@import "footer.scss";
@import "banner.scss";
@import "old/navbar.scss";
@import "pages/sidebars/poll.scss";
@import "pages/sidebars/header.scss";
@import "pages/sidebars/calendar_text.css";
@import "pages/sidebars/image_text.css";
@import "pages/sidebars/search.scss";
@import "pages/sidebar.scss";
@import "old/website_index_page.scss";
@import "old/wiki.scss";

@import "pages/cms_session.css";
@import "pages/lehre.css";
@import "pages/feedback.css";
@import "pages/profile.scss";
@import "pages/tandem_exams.scss";
@import "old/columns.css";
@import "old/comments.css";
@import "old/content.css";
@import "old/charts.css";
@import "old/custom-wagtail-columns.css";
@import "widget/flipcard.scss";
@import "widget/jurcoach.scss";
//@import "old/django-pwa-app.css";
@import "old/mysite.css";
@import "old/person_index_page.css";
@import "old/person_page.css";
@import "old/polls.css";
@import "old/bootstrap.css";

.block-sidebar {
  width: 100%;
}

main.container {
  background: white;
  max-width: $container-width;
}

main > .container-inner > .content {
  flex-grow: 1;
  max-width: 720px;
  max-width: 900px;
}

main.container,
main.container > div > .container {
  padding: 0 !important;
  width: 95%;
}

.container-inner {
  display: flex;
}

#quiz-category-question .h2-wrapper-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#quiz-category-question .h2-wrapper {
  display: block;
  font-size: 28px;
  font-weight: 800 !important;
  font-family: $serif-font;
}

@media screen and (max-width: 720px) {
  main.container.container-inner {
    flex-direction: column;
  }
}

.block-content .block-richtext * {
  margin: 10px 0;
  width: 97%;
}
