$body-color: #3d3d3d;
$yellow: #ffe200;
$green: #add345;
$red: #ce0000;
$bg-gray: #e8e7df;
$line-gray:#e8e7e0;
$serif-font: 'Roboto Slab';
$container-width: 960px;

body {
  background: #fafafa;
  color: $body-color;
  font-family: sans-serif;
}

.breadcrumb-new {
  font-size: 0.8em;
  max-width: $container-width;
  margin: 0 auto;
  top: 30px;
  position: relative;

  a {
    font-weight: 300 !important;
    font-size: inherit !important;
  }
}

h2 {
  font-size: 28px;
  font-weight: 800 !important;
  font-family: $serif-font;
  background: repeating-linear-gradient(to bottom, transparent, transparent 20px, #e8e7df 20px, #e8e7df 45px) !important;
  line-height: 20px !important;
  display: inline !important;
  margin-bottom: 50px !important;
}

h3,
h3 b {
  color: #333 !important;
  font-family: $serif-font;
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  background: repeating-linear-gradient(to bottom, transparent, transparent 14px, #e8e7df 14px, #e8e7df 32px);
  line-height: 32px !important;
  line-height: 0 !important;
  display: inline !important;
  margin-bottom: 20px !important;
}

h2::before,
h2::after,
h3::before,
h3::after {
  content: '\A';
  white-space: pre;
}

.block-richtext h2 a,
.block-richtext h3 a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.block-richtext h2 a:hover,
.block-richtext h3 a:hover {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

// SCSS Files (updated!)
@import "~bootstrap/scss/bootstrap.scss";
@import "inline_icons.scss";
@import "old/base.scss";
@import "pages/jurcoach.scss";
@import "pages/quiz.scss";
@import "footer.scss";
@import "old/navbar.scss";
@import "old/sidebars/poll.scss";
@import "old/sidebars/header.scss";
@import "old/sidebar.scss";
@import "old/website_index_page.scss";
@import "old/wiki.scss";

// CSS Files
@import "pages/cms_session.css";
@import "pages/lehre.css";
@import "pages/feedback.css";
@import "pages/profile.css";
@import "pages/flashcards.css";

//@import "old/app.css";
@import "old/columns.css";
@import "old/comments.css";
@import "old/content.css";
@import "old/charts.css";
@import "old/custom-wagtail-columns.css";
@import "old/flipcard-widget.scss";
//@import "old/django-pwa-app.css";
//@import "old/main.css";
@import "old/mysite.css";
@import "old/person_index_page.css";
@import "old/person_page.css";
@import "old/polls.css";
@import "old/bootstrap.css";
@import "old/sidebars/calendar_text.css";
@import "old/sidebars/image_text.css";

.jurcoach-links-widgets {
  position: relative;
}

.block-sidebar {
  width: 100%;
}

.article-edit-form {
  border: 1px solid red !important;
  display: flex !important;
  flex-direction: column !important;
}

main.container {
  background: white;
  max-width: $container-width;
}

main > .container-inner > .content {
  flex-grow: 1;
  max-width: 720px;
  max-width: 900px;
}

main.container,
main.container > div > .container {
  padding: 0 !important;
}

.container-inner {
  display: flex;
}

.header-text {
  color: #fff;
  text-align: center;
}

.header-text h2,
.header-text h2 > p {
  font-size: 2.5rem !important;
  font-weight: 300 !important;
  font-family: $serif-font !important;
  text-shadow: 0 3px 10px #000 !important;
  background: none;
  display: inline !important;
  line-height: 3rem;
  margin-bottom: 15px;
}

.header-text h2,
.header-text h3 {
  background: none !important;
}

.container.header-text > p {
  text-shadow: 0 3px 15px #000 !important;
  font-size: 1.2rem !important;
  margin-bottom: 15px;
  background: none;
}

#quiz-category-question .h2-wrapper-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#quiz-category-question .h2-wrapper {
  display: inline-block;
  font-size: 28px;
  font-weight: 800 !important;
  font-family: $serif-font;
}

@media screen and (max-width: 720px) {
  main.container.container-inner {
    flex-direction: column;
  }
}

.block-content .block-richtext * {
  margin: 10px 0;
}
