{% extends "profiles/index.html" %}

{% load i18n profile_tags %}

{% block contents %}
<h3>Deine Einreichungen</h3>

<div class="mt-4">
  {% if submissions %}
  {% for submission in submissions %}
  <div class="card mb-3 border-0">
    <div class="row no-gutters h-100">
      <div class="col-md-2 bg-{{ submission|submission_bg_color }} {{ submission|submission_fg_color }} text-center d-flex align-items-center justify-content-center">

	{% if submission.status == "APPROVED" %}
	<div>
	  <i class="fa fa-x2 fa-thumbs-up text-white"></i><br/>
	  Angenommen!
	</div>
	{% endif %}
	{% if submission.status == "REJECTED" %}
	<div>
	  <i class="fa fa-x2 fa-thumbs-down text-white"></i><br/>
	  Zurückgewiesen!
	</div>
	{% endif %}
	{% if submission.status == "PENDING" %}
	<div>
	  <i class="fa fa-x2 fa-sync fa-spin text-white"></i><br/>
	  in Prüfung!
	</div>
	{% endif %}

      </div>
      <div class="col-md-10 bg-light">
	<div class="card-body p-3">
          <h5 class="card-title mb-0">
	    {{ submission.content_object|class_to_name }}:
	    {{ submission.content_object.title }}
	  </h5>
          <p class="card-text"><small class="text-muted">{{ submission.created | date }}</small></p>
          <p class="card-text">{{ submission.user_message|default:"In Bearbeitung…" }}</p>
	</div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>Du hast noch keine Einreichungen!</p>
  {% endif %}
</div>

{% endblock %}
