{% extends "base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags website_tags %}

{% block extra_css %}
{% endblock %}

{% block body_class %}template-websiteindexpage{% endblock %}

{% block content %}
<div id="exam-table-page" class="container">
	<h1 style="font-size: 1.7em; font-weight: 900;">Klausurdatenbank</h1>
	<p>
	In der Klausurdatenbank finden sich Sachverhalte mit Lösungsskizze, die sich nach Schwierigkeitsgrad und thematisierten Schwerpunkten ordnen lassen. Unsere Klausurdatenbank eignet sich damit ideal für das gezielte Lernen ausgewählter Themen oder Straftatbestände am Fall. 
      </p>
	<div id="app">
  	<v-app id="inspire">
  		<v-card>
  			<v-card-title>
      		Suche
      		<v-spacer></v-spacer>
      		<v-text-field
        		v-model="search"
        		append-icon="mdi-magnify"
        		label="Suche"
        		single-line
        		hide-details
      	></v-text-field>
    	</v-card-title>
  		<v-data-table
    		:headers="examHeaders"
    		:items="filteredExams"
      	:search="search"
    		:single-expand="singleExpand"
    		:expanded.sync="expanded"
    		item-key="id"
    		show-expand
    		class="elevation-1"
				red="dTable"
			  :custom-filter="filterByDifficulty"
  		>
  			<template v-slot:top>
					<v-toolbar flat style="padding: 10px;">
        		<v-switch
        			v-model="filtering['shortcases']"
          		label="Kurzfälle"
        			color="teal"
          		class="mt-2"
          		@change="filterDifficulty"
        		></v-switch>
        		<v-spacer></v-spacer>
        		<v-switch
        			v-model="filtering['beginner']"
        			color="teal"
          		label="Anfängerklausuren"
          		class="mt-2"
          		@change="filterDifficulty"
        		></v-switch>
        		<v-spacer></v-spacer>
        		<v-switch
        			v-model="filtering['advanced']"
        			color="teal"
          		label="Fortgeschrittenenklausuren"
          		class="mt-2"
          		@change="filterDifficulty"
        		></v-switch>
        		<v-spacer></v-spacer>
        		<v-switch
        			v-model="filtering['intermediate']"
          		label="Examensklausuren"
        			color="teal"
          		class="mt-2"
          		@change="filterDifficulty"
        		></v-switch>
      		</v-toolbar>
  			</template>
				<template v-slot:item.links="{ item }">
					<div style="display: flex; flex-direction: column;">
						{% verbatim %}
						<a @click="redirect(item.situation)"style="color: rgb(76, 158, 187);">
							Sachverhalt
						</a>
						<a @click="redirect(item.solution)" style="color: rgb(76, 158, 187);">
							Lösungsskizze
						</a>
						{% endverbatim %}
					<div>
    		</template>
    		<template v-slot:expanded-item="{ headers, item }">
    			<td :colspan="headers.length" style="padding: 20px;">
						<div style="display: flex; flex-direction: column;">
							<div style="display: flex; margin-bottom: 20px;">
      					<div style="min-width: 140px;">Paragraphen</div>
      					<div style="flex-grow: 1;" v-html="item.paragraphs">
								</div>
							</div>
							<div style="display: flex;">
      					<div style="min-width: 140px;">Problemfelder</div>
      					<div style="flex-grow: 1;" v-html="item.problems">
								</div>
							</div>
						</div>
    		  </td>
    		</template>
  		</v-data-table>
  		</v-card>
  	</v-app>
	</div>


	<script src="{% static 'vue/polyfill.min.js' %}"></script>
	<link href="{% static 'vue/materialdesignicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'vue/vuetify.min.css' %}" rel="stylesheet">
	<script src="{% static 'vue/vue.min.js' %}"></script>
	<script src="{% static 'vue/vuetify.js' %}"></script>
		<script>
			new Vue({
				el: '#app',
				vuetify: new Vuetify(),
				data() {
      		return {
						search: '',
						filtering: {
							beginner: true,
						        intermediate: true,
						        shortcases: true,
							advanced: true,
						},
        		expanded: [],
        		singleExpand: false,
        		examHeaders: [
          		{
            		text: 'Charakterisierung',
            		align: 'start',
            		value: 'title',
            		filterable: true,
          		},
          		{ text: 'Stand', value: 'datetime' },
          		{ text: 'Niveau', value: 'difficulty' },
          		{ text: 'Links', value: 'links' },

          		{
          			text: "Paragraphen",
          			value: "paragraphs",
          			align: " d-none",
          			filterable: true,
          		},
          		{
          			text: "Probleme",
          			value: "problems",
          			align: " d-none",
          			filterable: true,
          		},

          		{ text: '', value: 'data-table-expand' },
        		],
        		exams: [],
        		filteredExams: []
      		}
    		},
    		computed: {
    			filteredExams () {
    				alert('here')
    			}
    		},
				mounted() {
        	fetch("/jurcoach/klausurendatenbank/api")
        	.then(result => result.json())
        	.then((data) => {
							const records = data.data

							const result = records.map((exam) => ({
								id: exam.id,
								title: getType(exam.type),
								datetime: exam.datetime,
								difficulty: getDifficulty(exam.difficulty),
								paragraphs: exam.paragraphs,
								problems: exam.problems,
								situation: exam.situation,
								solution: exam.solution,
							}))

							this.exams = result
							this.filteredExams = result
        	})
      		.catch(err => {
        		console.log(err)
      		})
      		.finally(() => (this.loading = false))

				},
				watch: {
				},
				methods: {
					redirect(url) {
						window.location.href = url
					},
					filterDifficulty(level) {
						this.filtering[level] = !this.filtering[level]
						this.filteredExams = this.exams.filter((exam) => {
							let difficulty = switchDifficulty(exam.difficulty)
							return this.filtering[difficulty]
						})
					},
					filterByDifficulty(value, search, item) {
						var difficulty = switchDifficulty(item.difficulty)

						return value != null &&
							search != null &&
							typeof value === "string" &&
							this.filtering[difficulty] &&
							value.indexOf(search) !== -1
					}
				}
  		})

  		function switchDifficulty(difficulty) {
				switch(difficulty) {
					case 'Anfänger':
						return 'beginner'
						break
					case 'Kurzfälle':
						return 'shortcases'
						break
					case 'Examen':
						return 'intermediate'
						break
					case 'Fortgeschrittene':
						return 'advanced'
						break
					default:
						console.log(`Unknown difficulty: ${difficulty}`)
				}
  		}

  		function getDifficulty(difficulty) {
				switch(difficulty) {
					case 'beginner':
						return 'Anfänger'
						break
					case 'shortcases':
						return 'Kurzfälle'
						break
					case 'intermediate':
						return 'Examen'
						break
					case 'advanced':
						return 'Fortgeschrittene'
						break
					default:
						console.log(`Unknown difficulty: ${difficulty}`)
				}
  		}

  		function getType(etype) {
  			switch(etype) {
  				case 'falltraining':
  					return 'Klausur im Falltraining'
  					break
  				case 'exam':
  					return 'Examensklausur'
  					break
  				case 'original-exam':
  					return 'Originalklausur'
  					break
  				case 'term-paper':
  					return 'Hausarbeit'
  					break
  				case 'exercise':
  					return 'Übungsfall'
  					break
  				case 'tutorial':
  					return 'AG-Fall'
  					break
					default:
						console.log('exam type error')
  			}
  		}
		</script>
</div>
{% endblock %}
