{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/jurcoach.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


{% endblock %}

{% block extra_js %}
{% endblock %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
	<div id="jurcoach-page">
		<section class="text-center" style="margin-bottom: 60px; padding: 50px 0;">
			<div class="container" style="max-width:700px !important;">
				<div class="illustration-container"><div class="jurcoach-logo"></div></div>
				<div class="h2-wrapper">
					<h2 style="margin-bottom: 50px;">{{ self.intro_headline }}</h2>
				</div>
				{{ self.intro_text | richtext }}
			</div>
		</section>

		<section class="text-center">
			<div class="container">
			<div class="h2-wrapper">
				<h2>{{ self.carousel_headline }}</h2>
			</div>

			<div>
				<div class="carousel-wrapper">
				<div class="carousel-navigation"><span class="carousel-prev"><i class="bi bi-chevron-left"></i></span> <span class="slider-pagination"></span> <span class="carousel-next"><i class="bi bi-chevron-right"></i></span></div>
				  <div class="carousel">
					    {% for slide in self.jurcoachcarousel.all %}
					    <div class="carousel-item">
						<div class="person {{ slide.illustration }}"></div>
						<h3 class="highlighted">{{ slide.get_illustration_display }}</h3>
						{{ slide.carousel_description | richtext }} {% if slide.carousel_link_text %}
						<a href="{{ slide.carousel_link_url }}"> <span class="underlined hover yellow">{{ slide.carousel_link_text }}</span> <i class="bi bi-arrow-right"></i> </a>
						{% endif %}
					    </div>
					    {% endfor %}
					    <div class="carousel-item">
						<div class="person falltraining"></div>
						<h3 class="highlighted">Falltraining</h3>
						<p>Erfolgreiche Klausurbearbeitung durch unser Simulationsmodul lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						<a href="#">
							<span class="underlined hover yellow">Fälle trainieren</span> <i class="bi bi-arrow-right"></i>
						</a>
					</div>

					<div class="carousel-item">
						<div class="person wiki"></div>
						<h3 class="highlighted">Problemfeld-Wiki</h3>
						<p>Erfolgreiche Klausurbearbeitung durch unser Simulationsmodul lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						<a href="#">
							<span class="underlined hover yellow">Im Wiki stöbern</span> <i class="bi bi-arrow-right"></i>
						</a>
					</div>
					  <div class="carousel-item">
						<div class="person mct"></div>
						  <h3 class="highlighted">Multiple-Choice-Test</h3>
						  <p>Sich einmal einigen ganz konkreten Fragen aus dem Strafrecht auszusetzen, kann einem ein gutes Feedback geben, wie es um das Wissen in diesem Rechtsgebiet bestellt ist.</p>
						  <a href="#">
							  <span class="underlined hover yellow">MCT starten</span> <i class="bi bi-arrow-right"></i>
						  </a>
					  </div>
					  <div class="carousel-item">
						  <div class="person klausurdatenbank"></div>
						  <h3 class="highlighted">Klausurdatenbank</h3>
						  <p>
							  Stelle auch hier Dein Jurawissen unter Beweis: Kurzfälle, Klausuren für Anfänger und Fortgeschrittene sowie Examensklausuren – all das findet Du in der Datenbank.
						  </p>
						  <a href="#">
							  <span class="underlined hover yellow">Klausur nachschauen</span> <i class="bi bi-arrow-right"></i>
						  </a>
					  </div>
					  <div class="carousel-item">
						  <div class="person rechtsprechung"></div>
						  <h3 class="highlighted">Höchstrichterliche Rechtsprechung</h3>
						  <p>
							  Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnimus.
						  </p>
						  <a href="#">
							  <span class="underlined hover yellow">Rechtsprechung durchstöbern</span> <i class="bi bi-arrow-right"></i>
						  </a>
					  </div>

				  </div>
				
				</div>
			</div>
			</div>
		</section>
		<section class="text-center">
		<div class="line"><div class="triangle"></div></div>
			<div class="container" style="display: flex; flex-direction: row; align-items: center; text-align: left;">
				<div class="person contribute"></div>
				<div class="">
					<h3 class="highlighted green" style="font-size: 18px; font-weight: 800; display: inline-block;">Selbst etwas beitragen</h3>
					<p style="font-size: 14px;">Egal ob Falltraining oder Wikieintrag – wir freuen sehr uns über Deine Mitarbeit. Keine Sorge: Die Inhalte werden nicht direkt online gestellt. Alles wird zunächst durch unsere Experten geprüft, ggf. redigiert und erst dann veröffentlicht. Selbstverständlich anonym.</p>
					<div style="font-size: 14px; font-weight: 600;">
						<a href="" style="margin-right: 20px;"><span class="underlined hover green">Neuen Fall eintragen</span> <i class="bi bi-arrow-right"></i></a>
						<a href="" style="margin-right: 20px;"><span class="underlined hover green">Wikieintrag erstellen</span> <i class="bi bi-arrow-right"></i></a>
						<a href="" style="margin-right: 20px;"><span class="underlined hover green">MCT anlegen</span> <i class="bi bi-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</section>

		<section class="text-center" style="background: #EEEDE8; margin-top: 50px; padding: 50px 0;">
			<div class="container" style="display: flex; flex-direction: row;">
				{% for column in self.jurcoachfooter.all %}
				<div class="bottom-item">
					<h3>{{ column.footeritem_headline }}</h3>
					{{ column.footeritem_text | richtext }}
					<a href="{{ column.footeritem_linkurl }}"><span class="underlined hover">{{ column.footeritem_linktext }}</span> <i class="bi bi-arrow-right"></i>
					</a>
				</div>
				{% endfor %}
				<div class="bottom-item">
					<h3>
						Befragung zur Nutzung des Jurcoach-Falltrainings
					</h3>
					<p>
						Mit dieser anonymen Befragung, die nur wenige Minuten dauert, wenden wir uns an Interessierte, die (gelegentlich) Jurcoach nutzen. Wir erhoffen uns wertvolle Aufschlüsse für die weitere Verbesserung unseres Angebots für Sie.
					</p>
					<a href="#"><span class="underlined hover">Teilnehmen</span> <i class="bi bi-arrow-right"></i>
					</a>
				</div>
				<div class="bottom-item">
					<h3>
						Jahrbuch Rechtsdidaktik 2017
					</h3>
					<p>
						Einen Überblick über Jurcoach und seine Module, dessen didaktisches Konzept, die spezifischen Probleme von E-Learning und deren Überwindung, Evaluationen als integraler Bestandteil von Jurcoach sowie Folgerungen und Visionen finden Sie im Jahrbuch der Rechtsdidaktik 2017.
					</p>
					<a href="#">
						<span class="underlined hover">Zum Jahrbuch</span> <i class="bi bi-arrow-right"></i>
					</a>
				</div>
				<div class="bottom-item">
					<h3>
						Nutzerprofile auf strafrecht-online.org
					</h3>
					<p>
						Seit Kurzem haben wir unser E-Learning-Angebot um eine individuelle Komponente erweitert. NutzerInnen können sich auf dieser Seite mit ihrer Mailadresse registrieren und ein persönliches Profil anlegen.
					</p>
					<a href="#">
						<span class="underlined hover">Profil anlegen</span> <i class="bi bi-arrow-right"></i>
					</a>
				</div>
				<div class="bottom-item">
					<div class="sidebar sidebar-poll poll">
						<h3><b>Kurzfälle</b></h3>
						<form id="poll" class="poll" method="POST" action="/vote/1/">
							<input type="hidden" name="csrfmiddlewaretoken" value="abcde">
							<label for="id_question_0"></label><ul id="id_question">
							<li><label for="id_question_0"><input type="radio" name="question" value="1" required="" id="id_question_0">
							 Nutze ich regelmäßig</label>

							</li>
							    <li><label for="id_question_1"><input type="radio" name="question" value="2" required="" id="id_question_1">
							 Nutze ich gelegentlich</label>

							</li>
							    <li><label for="id_question_2"><input type="radio" name="question" value="3" required="" id="id_question_2">
							 Nutze ich überhaupt nicht</label>

							</li>
							    <li><label for="id_question_3"><input type="radio" name="question" value="4" required="" id="id_question_3">
							 Was sind Kurzfälle?</label>

							</li>
							</ul>
						<input type="submit" value="Abstimmen" class="poll-vote-button">
						</form>
					</div>
					<div class="illustration-container"><div class="poll-illustration"></div></div>
				</div>
				
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<script>
		jQuery(function($){
			var $status = $('.slider-pagination');
			var $slickElement = $('.carousel');
			
			$slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
				if ((currentSlide == 0) || (currentSlide === undefined)) {
					var i = 1;
				} else if (currentSlide > 0 && currentSlide < 5) {
					var i = 2;
				} else {
					var i = 3;
				}
			  $status.text(i + '/' + 2);
			});
			
			$slickElement.slick({
			  autoplay: false,
			  arrows: false,
			  infinite: false,
			  slidesToShow: 4,
			  slidesToScroll: 4
			});

			$('.carousel-prev').click(function(){ 
				$(this).parent().parent().find('.carousel').slick('slickPrev');
			} );

			$('.carousel-next').click(function(e){
				e.preventDefault(); 
				$(this).parent().parent().find('.carousel').slick('slickNext');
			} );
		});
	</script>
{% endblock %}
