{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailroutablepage_tags %}
{% load website_tags %}
{% load comments %}
{% load comments_xtd %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
<div id="session-page" class="container p-0">
	<div class="col-md-12 p-0">
		<h2>{{ page.title }}</h2>

		{% if page.semester %}
			<div class="richtext">{{ semester }}</div>
		{% endif %}

        <div class="d-inline-flex flex-sm-column flex-row flex-md-row col-12 p-0" >

			<div class="col-xs-12 col-6 px-0">
                <div class="full">
					<h3 class="font-weight-bold">Lehrende/r</h3>
					{% if page.speaker_description %}
					<div class="richtext" style="font-size: 15px;">{{ page.speaker_description|richtext }}</div>
					{% endif %}
				</div>
				<div class="full">
					<h3 class="font-weight-bold my-2">Termin</h3>
					{% if page.date %}
					<div class="richtext" style="font-size: 15px;">{{ page.date|richtext }}</div>
					{% endif %}
				</div>
				<div class="full">
					<h3 class="font-weight-bold my-2">Ort</h3>
					{% if page.location %}
					<div class="richtext" style="font-size: 15px;">{{ page.location|richtext }}</div>
					{% endif %}
				</div>

			</div>

			<div class="col-xs-12 col-6 px-0">
				<div class="full">
					{% if page.assessment %}
					<div class="richtext" style="font-size: 15px; padding-right: 30px;">{{ page.assessment|richtext }}</div>
					{% endif %}
				</div>
			</div>

		</div>

		<hr />

		<h3>Veranstaltungsmaterialien</h3>
		<div class="session-material richtext">{{ page.material|richtext }}</div>
		{% if page.allow_comments %}
		{% include "includes/comments.html" with object=page %}
 		{% endif %}
	</div>

</div>
{% endblock %}

{% block sidebar %}
	<div class="col-md-4 sidebar " style="min-width: 380px;">

	{{ page.sidebar }}

	{% for sidebar_placement in page.sidebar_placements.all %}
		<div class="row sidebar-item">
			{% if sidebar_placement.sidebar.image %}
			<div class="col-md-4 left">
				{% image sidebar_placement.sidebar.image fill-100x100 %}
			</div>
			<div class="col-md-8 right">
				<p>{{ sidebar_placement.sidebar.text|richtext }}</p>
			</div>
			{% else %}
			<div class="col-md-12 right">
				<p>{{ sidebar_placement.sidebar.text|richtext }}</p>
			</div>
			{% endif %}
		</div>
	{% endfor %}
</div>
{% endblock %}
