{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags website_tags %}

{% block extra_css %}
{% endblock %}

{% block body_class %}template-websitepage{% endblock %}

{% block breadcrumbmenu %}
{% if self.get_ancestors|length > 1 %}
	{% if page.header %}
		<div class="breadcrumb-new">
	{% else %}
		<div class="breadcrumb-new" style="width: 100%; max-width: 960px; margin: 0px auto 0 auto !important;">
	{% endif %}
		Du bist hier:
		{% for page in self.get_ancestors %}
			{% if page.is_root == False %}
			<a style="color: #3d3d3d; text-decoration: none;" href="{% pageurl page %}">{{ page.title|truncatechars:25 }}</a> >
			{% endif %}
		{% endfor %}
		<a style="color: #3d3d3d; text-decoration: none;" href="{% pageurl self %}">{{ self.title}}</a> > {{ person.first_name }} {{ person.last_name }}
	</div>
{% endif %}
{% endblock %}

{% block content %}
	<div class="person-page">
		<div class="row">
			<div class="col-md-3">
				{% image person.image width-240 %}
			</div>
			<div class="col-md-9">
				<h2>{{ person.first_name }} {{ person.last_name }}</h2>
				<p><i>{{ person.get_role_display }}</i></p>

				<br><br>

				<h4>Kontakt</h4>
				<p>Telefon: {{ person.telephone }}</p>
				<p>E-Mail: {{ person.email }}</p>
				<p>Raum: {{ person.room }}</p>

				<br>

				<p class="richtext">{{ person.description|richtext }}</p>

				<br><br>
				<!--
				<h3>News Articles</h3>

				{% for group in groups %}
					<div class="article-group" style="margin-bottom: 50px;">
						<h3>{{ group.year }}</h3>

						<div class="article-cards" style="display: flex;">
							{% for article in group.articles %}
							<div class="article-card">
								<a href="{% pageurl article %}">{{ article.title }}</a>
								<div>
									<span class="meta badge badge-dark">{{ article.owner }}</span>
									<span class="meta badge badge-light">{{ article.date }}</span>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
				-->
			</div>
		</div>
	</div>
{% endblock %}
