{% extends "base.html" %}

{% load static %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}

{% block extra_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
{% endblock %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
	<div class="wiki-index-page">
		<div class="col-md-12">
			<h2>Problemfeld-Wikis</h2>

			<div id="jstree"></div>

		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script>
	$(function() {
		function getJSON() {
			var data;

			$.ajax({
				async: false,
				type: "GET",
				url: "/api/v1/categories/",
				dataType: "json",
				success: function(json) {
					data = json;
				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(xhr.status);
					console.log(thrownError);
					data = "error";
				}
			});

			return data;
		}


		var jsonData = getJSON();
		var data = [];

		jsonData = jsonData.forEach(function(item) {
			if (item["id"] ==  1) {
				data.push({id: item["id"].toString(), parent: "#", name: item["name"], text: "Strafgesetzbuch"})
			} else {
				data.push({id: item["id"].toString(), parent: item["parent"].toString(), name: item["name"], text: item["name"]})
			}
		})

		console.log(data)

		$('#jstree').jstree({
			"core" : {
				"animation" : 0,
				"check_callback" : true,
				"themes" : { "stripes" : false },
				"data" : data
				/*
				'data' : {
					'url' : function (node) {
						return node.id === '#' ?
							'ajax_demo_roots.json' : 'ajax_demo_children.json';
					},
					'data' : function (node) {
						return { 'id' : node.id };
					}
				}
				*/
			},
			"types" : {
				"#" : {
					"max_children" : 1,
					"max_depth" : 4,
					"valid_children" : ["root"]
				},
				"root" : {
					"icon" : "/static/3.3.8/assets/images/tree_icon.png",
					"valid_children" : ["default"]
				},
				"default" : {
					"valid_children" : ["default","file"]
				},
				"file" : {
					"icon" : "glyphicon glyphicon-file",
					"valid_children" : []
				}
			},
			"plugins" : [
				"search", "state", "types", "wholerow"
			]
		});
	})
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

{% endblock %}
