/* Handle basic element styling */
/* -------------------------------------------------------------------------------------------- */

* {
	font-family: 'Roboto', sans-serif;
}
main.container {
	margin-top: 40px;
	max-width: $container-width;
}
p.roofline {
	color: #4c9dbb;
	font-size: 0.97em;
	font-weight: 600;
	margin-bottom: 10px;
}
.content .col-8 h2 {
	font-weight: 900;
	font-size: 1.6em;
	color: rgb(61, 61, 61);
	margin-bottom: 24px;
}
.content .col-8 h3 {
	margin-bottom: 16px;
	line-height: 1.5;
	font-size: 1.25em;
	color: rgb(140, 140, 140);
}
.content .col-8 h4 {
	margin-bottom: 10px;
	line-height: 1.5;
	font-weight: 600;
	font-size: 1.1em;
	color: rgb(61, 61, 61);
}
.content .col-8 p {
	line-height: 1.6em;
	margin-bottom: 25px;
}
.content .col-8 a, main a {
	color: rgb(76, 158, 187);
}
.content .col-8 a:hover, main a:hover {
	color: rgb(76, 158, 187);
}
.content .col-8 ul {
	padding: 0px;
	list-style: none;
}
.content .col-8 ul li {
	margin-bottom: 7px;
}


/* Header */
/* -------------------------------------------------------------------------------------------- */

body .header-image {
	margin-bottom: 35px;
}
body .header-image .header-caption {
	display: inline-block;
	position: relative;
	background: rgb(225, 213, 196);
	color: rgb(89, 89, 89);
	float: right;
	z-index: 10;
	bottom: 40px;
	right: 0;
	line-height: 21px;
	font-size: 21px;
	padding: 1px 7px;
	text-transform: uppercase;
	opacity: 0.75;
	font-weight: normal;
}


/* Forms */
/* -------------------------------------------------------------------------------------------- */

.btn-primary {
    background-color: #4c9ebb !important;
    border-color: #4c9ebb !important;
}
.btn-primary:hover {
    background-color: #3e7d94 !important;
    border-color: #3e7d94 !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    border-color: #4c9ebb !important;
    background-color: #4c9ebb !important;
}


/* Labels/Tags */
/* -------------------------------------------------------------------------------------------- */

.label:after {
	margin-left: 0.5em;
	border-radius: 6px;
	padding: 2px 5px;
	font-size: 0.7rem;
	font-weight: normal;
	display: inline-block;
	line-height: 1.5em;
}
    
.revised:after {
	content: "Überarbeitet";
	color: #ffffff;
	background: #416fd6;
}
    
.new:after {
	content: "NEU";
	background: rgb(225, 213, 196);
	color: #b2ab40;
}
.Draftail-block--roofline {
	color: #4c9dbb !important;
	font-size: 0.97em !important;
	font-weight: 600 !important;
}

.Draftail-block--revised_label span[data-text]:after {
	content: "Überarbeitet" !important;
	color: #ffffff !important;
	background: #416fd6 !important;
	margin-left: 0.5em !important;
	border-radius: 6px !important;
	padding: 2px 5px !important;
	font-size: 0.7rem !important;
	font-weight: normal !important;
	display: inline-block !important;
	line-height: 1.5em !important;
}

.Draftail-block--new_label span[data-text]:after {
	content: "NEU" !important;
	background: rgb(225, 213, 196) !important;
	color: #b2ab40 !important;
	margin-left: 0.5em !important;
	border-radius: 6px !important;
	padding: 2px 5px !important;
	font-size: 0.7rem !important;
	font-weight: normal !important;
	display: inline-block !important;
	line-height: 1.5em !important;
}


/* Handle specific elements nested in the DOM  */
/* -------------------------------------------------------------------------------------------- */

.content-list { border: 1px solid red; }

.columns-block {
	display: flex;
}

.comments .comment .well .row {
	margin-left: 0px;
	margin-right: 0px;
}

#exam-table-page .v-label {
	margin: 0px;
}
#exam-table-page .v-application--wrap {
	display: inline-table;
}


/* Handle Responsive Design  */
/* -------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
	.row {
		margin: 0px;
	}

	main {
		padding: 10px !important;
	}

	footer {
		padding: 10px;
	}
}
