.person-index-page {
	display: flex;
	width: -webkit-fill-available;
}

.person-index-page .role-group {
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	row-gap: 5px;
}

.person-index-page .role-group h5 { 
	grid-column-start: 1; 
	grid-column-end: 3;  
}

.person-index-page .role-group:last-of-type {
	border-bottom: none;
}

.person-index-page .role-group a {
	margin-top: 0em;
}
.person-index-page .role-group p {
	margin-bottom: 0px;
}
