.casetraining {
  .ql-editor p {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  #facts-editor {
    height: 500px;
  }

  .mark-area-content {
    position: relative;
    z-index: 10;
  }

  .user-mark-area {
    cursor: text;
  }

  .btn-marker {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 40px;
    padding: 2px;
    border: 1px solid transparent;
    &.border {
      background: #fff;
    }
  }

  #mark-area-content .mark-marker-erase {
    cursor: url("../../../../../casetraining/static/images/marker/eraser_lo.cur") 3 35, default;

    & ::selection {
      background-color: #ddd;
    }
  }

  span.text-link {
    color: #4c9ebb;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .user-markers span {
    background-color: transparent !important;
  }

  #user-mark-area-content-outer {
    position: absolute;
    top: 5px;
    left: 0;
    color: transparent;
    pointer-events: none;
  }

  #mark-area-content {
    padding: 5px 15px 15px 15px;
    margin: 0px -15px -15px -15px;
  }

  /* section/marker colors are coded with background-color: */
  /* sections:      rgb([1-5], 255, 255) */
  /* user sections: rgb(20[1-5], 255, 255) */
  /* user marker:   rgb(10[1-5], 255, 255) */

  $usercolors: #29e7fc, #95fd06, #c0b1fe, #ff92f3, #fff451;

  @for $i from 1 through length($usercolors) {
    #user-mark-area-content span[style*="background-color: rgb(10#{$i}, 255, 255)"] {
      display: inline;
      border-bottom: 4px solid nth($usercolors, $i);
      background-color: transparent !important;
    }

    span[style*="background-color: rgb(#{$i}, 255, 255)"],
    span[style*="background-color: rgb(20#{$i}, 255, 255)"],
    .section-marker-#{$i},
    .user-section-marker-#{$i} {
      display: inline;
      border-image-source: url(../../../../../casetraining/static/images/marker/marker-#{$i}.png);
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      border-image-slice: 0 50 fill;
      border-image-outset: 0 0.25ch;
      border-image-width: 0 1.5ch;
      border-image-repeat: round stretch;
      position: relative;
      background-color: transparent !important;
    }

    .hide-sections span[style*="background-color: rgb(#{$i}, 255, 255)"],
    .hide-sections .section-marker-#{$i} {
      border-image: none !important;
      background-color: transparent !important;
    }

    #mark-area-content .mark-marker-#{$i} {
      cursor: url(../../../../../casetraining/static/images/marker/textmarker-#{$i}.cur) 3 35, default;

      & ::selection {
        background-color: nth($usercolors, $i);
      }
    }

    .btn-marker-#{$i} {
      color: nth($usercolors, $i);
    }
  }
}
