.search-form {
  position: relative;
}

.search-results {
  position: absolute;
  background-color: #fff;
  z-index: 99;
  width: 100%;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0.25rem;
  max-height: 20em;
  overflow: auto;

  > div {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
}
