{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load wagtailmarkdown %}

{% block extra_css %}
<style>
  .tabbed figure {
    display: block;
    margin-left: 0;
    clear: both;
  }
  .tabbed > input,
  .tabbed figure > div { display: none; }
  .tabbed figure > div {
    width: 100%;
    color: #3d3d3d;
  }
  .tabbed figure > div a > span.badge {
    background: #fff;
    padding: .4rem 1rem;
    border: 3px solid #E8E7E0;
    color: #3d3d3d;
    font-size: 14px;
    margin-bottom: .5rem;
  }
  .tabbed figure > div a > span.badge:hover {
    background: #FFE200;
    border: 3px solid #FFE200;
    cursor: pointer;
  }
  #jurcoach-page .tabbed nav {
    margin-bottom: 20px;
  }
  #jurcoach-page .tabbed nav label {
    cursor: pointer;
    margin: 0 .6rem;
  }
  #jurcoach-page .tabbed nav label h3 {
    color: #999 !important;
    margin-bottom: 0;
  }
  #at:checked ~ figure .at,
  #bt:checked ~ figure .bt { display: block; }
  #at:checked ~ nav label[for="at"],
  #bt:checked ~ nav label[for="bt"] {
    position: relative;
    color: #000  !important;
    border-bottom: 4px solid #FFE200;
    cursor: default;
  }
  #jurcoach-page #at:checked ~ nav label[for="at"] h3,
  #jurcoach-page #bt:checked ~ nav label[for="bt"] h3 {
    color: #000  !important;
  }
  main>.container-inner>.content {
    max-width: none;
  }
  .false-icon,
  .correct-icon {
    display: none;
  }
  .check-icon .correct-icon {
    display: inline;
  }
  .dash-icon .false-icon {
    display: inline;
  }
  .mct-solution label input,
  .mct-solution label .answer-text {
    cursor: default !important;
  }
</style>
{% endblock %}

{% block title %}
Jurcoach Multiple-Choice-Test: {{ category }} – Strafrecht Online
{% endblock %}

{% block content %}
<div id="quiz-category-question">
  <div class="h2-wrapper-container">
    <div class="h2-wrapper text-center">
      <h2>{{ category }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="d-flex col-md-12">
      <div class="tea-drinker"></div>
      <div class="col-md-8 flex-col bg-white rounded p-0">
	<div class="p-0">
	  <h6 class="p-0 question-title">{{ question_version.title | markdown }}</h6>
	</div>

	<div class="p-0 mb-2">
	  <form action="{% url 'quiz:show' category.id question_version.question.id %}" method="post" class="mct-input">
	    {% csrf_token %}
	    <div id="answers-form" class="p-2">
	      {% for answer in question_version.answers.all %}
	      <label for={{answer.id}}>
		<input type="checkbox" id="{{answer.id}}" class="answer mct-checkbox" name="answer" value="{{answer.id}}" data-correct="{{answer.correct}}">
		<span class="mct-input-helper"></span>
		<span class="answer-text">{{ answer }}</span>
		<span>
		  <i class="bi bi-check-circle-fill correct-icon"></i>
		  <i class="bi bi-dash-circle-fill false-icon"></i>
		</span>
	      </label><br>
	      {% endfor %}
	    </div>

	    <div class="float-right">
	      <button id="show-results-button" class="show-results-button">Lösung</button>
	      {% for quest in questions %}
	      {% if quest.id == question_version.question.id %}
	      {% if forloop.counter == questions.count %}
	      <input class="show-results-button" type="hidden" value="finished" name="state">
	      <input class="show-results-button" type="submit" value="Finish Quiz" hidden>
	      {% else %}
	      <input class="show-results-button" type="submit" value="Nächste Frage" hidden>
	      {% endif %}
	      {% endif %}
	      {% endfor %}
	    </div>

	    <div class="description" hidden>
	      <h6 class="correct" hidden>Super! Deine Antwort ist richtig.</h6>
	      <h6 class="false" hidden>Leider falsch.</h6>

	      <div>{{ question_version.description | markdown }}</div>
	    </div>
	  </form>
	</div>
      </div>
      <div class="col-md-4" style="margin-left: 50px;">
	<div class="rounded p-4 pb-0 mb-4" style="border-bottom: 4px solid black; border-right: 4px solid black; background: #EEEDE8; position: relative; font-family: 'Roboto Slab' !important;">
	  <h5 style="background: black; color: white; font-family: inherit; font-size: 14px; top: -10px; position: absolute; text-transform: uppercase; padding: 2px 8px;">Score</h5>
	  <div class="" style="color: black; font-weight: 800; font-size: 1.1rem; font-family: inherit; padding-top: 10px;">
	    {% for quest in questions %}
	    {% if quest.id == question_version.question.id %}
	    <p style="font-family: inherit;">Frage {{ forloop.counter }} von {{ questions.count }}</p>
	    {% endif %}
	    {% endfor %}
	  </div>
	</div>
	<div class="flex flex-col">
	  <a href="?state=start" class="btn" style="background: black; color: white; width: 100%;">Neu starten</a>
	</div>
      </div>

    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="illustration-container"><div class="contribute-small"></div></div>
      <div class="contribution-area">
	<a href="{% url 'quiz:edit_question' question_version.question.id %}">
	  <span class="underlined green hover">{% trans "Quiz-Frage bearbeiten" %}</span> <i class="bi bi-arrow-right"></i>
	</a>
	<a href="{% url 'quiz:new_question' %}?category_id={{ category.id }}">
	  <span class="underlined green hover">{% trans "Neue Quiz-Frage in dieser Kategorie hinzufügen" %}</span> <i class="bi bi-arrow-right"></i>
	</a>
      </div>
    </div>
  </div>

  <div id="jurcoach-page" class="mt-4">
    {% include "quiz/menu.html" %}
  </div>

</div>

<script>
  var button = document.querySelector("#show-results-button")
  var answers = document.querySelectorAll('.answer')
  var sub = document.querySelector('input[type=submit]')
  var description = document.querySelector('.description')
  var correctHeader = description.querySelector('.correct')
  var falseHeader = description.querySelector('.false')
  var answers_form = document.querySelector('#answers-form')

  button.addEventListener('click', function(e) {
    e.preventDefault();

    var correct = true;

    for (i = 0; i < answers.length; i++) {
      answer = answers[i]
      answers_form.style.pointerEvents = "none";
      answer.parentNode.parentNode.classList.add('mct-solution')

      if (answer.getAttribute('data-correct') == 'True') {
	answer.parentNode.classList.add('check-icon')
	if (answer.checked) {
	  answer.parentNode.classList.add('mct-correct-answer')
	} else {
	  answer.parentNode.classList.add('mct-wrong-answer')
	  correct = false
	}
      } else {
	answer.parentNode.classList.add('dash-icon')
	if (!answer.checked) {
	  answer.parentNode.classList.add('mct-correct-answer')
	} else {
	  answer.parentNode.classList.add('mct-wrong-answer')
	  correct = false
	}
      }
    }

    if (correct) {
      correctHeader.hidden = false
    } else {
      falseHeader.hidden = false
    }

    button.hidden = true
    sub.hidden = false
    description.hidden = false
  })
</script>

{% endblock %}
