{% load i18n profile_tags %}
{% load crispy_forms_tags %}

<div class="exam-solution card mb-3 border-0">
  <div class="row no-gutters h-100">
    <div class="col-md-4 bg-light text-center d-flex align-items-center justify-content-center">
      <div>
	<i class="fa fa-x2 fa-sync fa-spin text-black"></i><br/>
	Warten auf einen Tandempartner / eine Tandempartnerin!
      </div>
    </div>
    <div class="col-md-8 bg-light">
      <div class="card-body p-3">
        <div class="card-text">
	  <strong>
	    Wir schicken eine Nachricht, sobald ein Tandempartner / eine Tandempartnerin gefunden wurde.
	  </strong>
	</div>
      </div>
    </div>
  </div>
</div>
