{% load wagtailimages_tags %}

<div id="calendar-widget">
	<div class="sidebar sidebar-calendar-text">
		<div id="calendar" style="margin-top: 10px;">
			  <time class="icon">
				  {% now "Y-m-d" as todays_date %}
				  {% if todays_date < value.calendar|date:"Y-m-d" %}
				    <em>{{ value.calendar|date:"l" }}</em>
				    <strong>{{ value.calendar|date:"F" }}</strong>
				    <span>{{ value.calendar|date:"j" }}</span>
				  {% else %}
				    <em>{{ value.calendar|date:"F" }}</em>
				    <strong>{{ value.calendar|date:"Y" }}</strong>
				    <span>{{ value.calendar|date:"j" }}</span>
				  {% endif %}
			</time>
		</div>
		<div class="text">
			{{ value.content }}
		</div>
	</div>
</div>
