{% extends "base.html" %}

{% block title %}
Jurcoach Tandemklausuren – Strafrecht Online
{% endblock %}

{% block content %}
<h2>Tandemklausuren</h2>
<p>
  Im Rahmen der „Tandemklausur“ hast Du die Möglichkeit, selbst eine Klausur zu lösen und diese von anderen User:innen korrigiert zu bekommen. Im Gegenzug korrigierst Du das Gutachten Deiner Tandempartner:innen zur selben Klausur, für die Du nun ja bereits Expert:in bist! Als Hilfestellung für die Korrektur dient Dir ein von uns angefertigter Bewertungsbogen. Sobald Deine Klausur korrigiert wurde, benachrichtigen wir Dich per Mail und Du kannst Dir die Korrektur Deiner Klausur im Nutzerprofil ansehen.
</p>
<p>
  Profitiere so vom Lernprozess, den man bei der Korrektur einer anderen Klausur automatisch durchlebt. Dir werden Punkte auffallen, die Du bei Deiner nächsten eigenen Klausur unbedingt übernehmen möchtest; wohl auch Fehler, die Du selbst künftig unbedingt vermeiden wirst.
</p>
<p>
  Aber nun überzeuge Dich selbst!
</p>
<p>
  <strong>Und keine Sorge:</strong> Deine Anonymität wird während des ganzen Prozesses gewahrt; der Austausch der Klausuren sowie der Bewertungsbögen und der kommentierten Lösungen läuft ausschließlich über das zuvor von Dir angelegte Nutzerprofil ab!
</p>
<div class="row mb-4">
  <div class="col-sm-6">
    <h3>Anfänger*innen</h3>
    {% for exam in beginner %}
    <div>
      <a href="{% url 'tandem_exams:show' exam.id %}">{{ exam }}</a>
      {% if exam.has_open_tandem_solution %}<sup>*</sup>{% endif %}
    </div>
    {% endfor %}
  </div>
  <div class="col-sm-6">
    <h3>Fortgeschrittene</h3>
    {% for exam in advanced %}
    <div>
      <a href="{% url 'tandem_exams:show' exam.id %}">{{ exam }}</a>
      {% if exam.has_open_tandem_solution %}<sup>*</sup>{% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<p>
  <sup>*</sup> Hier wartet ein:e Tandempartner:in
</p>
{% endblock %}
