{% extends "base.html" %}

{% load static %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/jurcoach.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<style>
	.tabbed figure { 
	   display: block; 
	   margin-left: 0; 
	   clear: both;
	}
	.tabbed > input,
	.tabbed figure > div { display: none; }
	.tabbed figure>div {
	  width: 100%;
	  color: #3d3d3d;
	}
	.tabbed figure > div a > span.badge {
	  background: #fff;
	  padding: .6rem;
	  border: 3px solid #E8E7E0;
	  color: #3d3d3d;
	  margin-bottom: .5rem;
	}
	.tabbed figure>div a > span.badge:hover {
	  background: #FFE200;
	  border: 3px solid #FFE200;
	  cursor: pointer;
	}
	nav label {
	  color: #3d3d3d;
	}
	nav label h2 {
	  display: inline;
	}
	#at:checked ~ figure .at,
	#bt:checked ~ figure .bt { display: block; }
	#at:checked ~ nav label[for="at"],
	#bt:checked ~ nav label[for="bt"] {
	  position: relative;
	  border-bottom:4px solid #FFE200;
	}
	</style>
{% endblock %}


{% block headersection %}
<div class="with-header">
	{% include "layout/menu.html" %}
</div>
<section
style="
	background: transparent url('/media/original_images/Jurcoach_graffito.jpg') center center no-repeat padding-box;
	opacity: 1;
	background-size: cover;
	background-position: center;
">
	<div style="background: rgba(0,0,0,0.5); padding: 100px 0; min-height: 402px;">
		<div class="container header-text">
			<h2><p data-block-key="s8435">Mach dich fit<br>für dein Jurastudium!</p></h2>
			<p data-block-key="5rfls">Trainiere deine Fähigkeiten lorem ipsum dolor sit amet,</p><p data-block-key="18jhq">consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<div class="flex flex-col col-md-12">
	<h2>Quizes</h2>

	<div class="flex flex-col col-md-9">
			<div class="tabbed">
			   <input checked="checked" id="at" type="radio" name="tabs" />
			   <input id="bt" type="radio" name="tabs" />

			   <nav>
			      <label for="at"><h2>Allgemeiner Teil</h2></label>
			      <label for="bt"><h2>Besonderer Teil</h2></label>
			   </nav>

			   <figure>
			      <div class="at">
				{% for item in categoriesat %}
					{% if item.first.id > 0 %}
						<a href="{% url 'quiz:category_question' item.category.article.id item.first.id  %}?state=start"><span class="badge badge-pill">{{ item.category.article.current_revision.title }}</span></a>
					{% endif %}
				{% endfor %}
			      </div>
			      <div class="bt">
				{% for item in categoriesbt %}
					{% if item.first.id > 0 %}
						<a href="{% url 'quiz:category_question' item.category.article.id item.first.id  %}?state=start"><span class="badge badge-pill">{{ item.category.article.current_revision.title }}</span></a>
					{% endif %}
				{% endfor %}
			      </div>
			   </figure>
			</div>
		
	</div>

</div>
{% endblock %}
