.sidebar-calendar-text {
	display: flex !important;
	flex-direction: row !important;
}

.sidebar-calendar-text div:first-of-type {
	min-width: 100px;
	width: 33.333333333%;
}
.sidebar-calendar-text div:last-of-type {
	padding-left: 10px;
	width: 66.666666666%;
}
