{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags website_tags %}
{% load wagtailpolls_tags %}
{% load sekizai_tags i18n wiki_tags static pipeline %}

{% block extra_css %}
<link href="{% static "wiki/bootstrap/css/wiki-bootstrap.min.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% endblock %}

{% block headersection %}
<div class="with-header">
  {% include "layout/menu.html" %}
</div>
<section id="banner" style="background-image: url('/media/original_images/ohnediefrau.png')">
  <div>
    <div class="container header-text">
      <a href="/"><h2>STRAFRECHT-ONLINE.ORG</h2></a>
    </div>
  </div>
</section>
{% endblock %}

{% block body_class %}template-wikipage{% endblock %}

{% block content %}
<div id="jurcoach-page">
  <section>
    <div class="container">
      {% block wiki_body %}

      <div class="wiki-content">
	{% wiki_messages %}

	<!-- Reserved for breadcrumbs -->
	{% block wiki_breadcrumbs %}{% endblock %}

	<!-- Main page contents go here -->
	{% block wiki_contents %}{% endblock %}

      </div>
      {% endblock %}
    </div>

  </section>
</div>

{% endblock %}
