{% extends "wiki/article.html" %}
{% load wiki_tags i18n humanize %}

{% block wiki_pagetitle %}{% trans "Listing articles in" %} {{ article.current_revision.title }}{% endblock %}


{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/jurcoach.css' %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<style>
	.tabbed figure { 
	   display: block; 
	   margin-left: 0; 
	   clear: both;
	}
	.tabbed > input,
	.tabbed figure > div { display: none; }
	.tabbed figure > div {
	  width: 100%;
	  color: #3d3d3d;
	}
	.tabbed figure > div a > span.badge {
	  background: #fff;
	  padding: .4rem 1rem;
	  border: 3px solid #E8E7E0;
	  color: #3d3d3d;
	  font-size: 14px;
	  margin-bottom: .5rem;
	}
	.tabbed figure > div a > span.badge:hover {
	  background: #FFE200;
	  border: 3px solid #FFE200;
	  cursor: pointer;
	}
	#jurcoach-page section nav {
	  margin-bottom: 20px;
	}
	#jurcoach-page section nav label {
	  cursor: pointer;
	  margin: 0 .6rem;
	}
	#jurcoach-page section nav label h3 {
	  color: #999 !important;
	  margin-bottom: 0;
	}
	#at:checked ~ figure .at,
	#bt:checked ~ figure .bt { display: block; }
	#at:checked ~ nav label[for="at"],
	#bt:checked ~ nav label[for="bt"] {
	  position: relative;
	  color: #000  !important;
	  border-bottom: 4px solid #FFE200;
	  cursor: default;
	}
	#jurcoach-page #at:checked ~ nav label[for="at"] h3,
	#jurcoach-page #bt:checked ~ nav label[for="bt"] h3 {
	  color: #000  !important;
	}
	main>.container-inner>.content {
	  max-width: none;
	}
	</style>
{% endblock %}

{% block wiki_contents_tab %}

{% url 'wiki:dir' urlpath.path as self_url %}

  <div class="card">
    <div class="card-header">
      <form class="form-search directory-toolbar">
      <div class="btn-group">
        {% if urlpath.parent %}
        <a href="{% url 'wiki:dir' path=urlpath.parent.path %}" class="btn btn-secondary">
          <span class="fa fa-arrow-up"></span>
          {% trans "Up one level" %}
        </a>
        {% endif %}
        <a href="{% url 'wiki:create' path=urlpath.path %}" class="btn btn-secondary">
          <span class="fa fa-plus"></span>
          {% trans "Add article" %}
        </a>
        </div>
        <div class="float-right">
      {{ filter_form.query }}
          </div>

    {% if filter_query %}
      <div class="card filter-clear">
        <a href="{{ self_url }}">({% trans "clear" %})</a>
      </div>
    {% endif %}

    <div class="clearfix"></div>
  </form>
  </div>
</div>

<!--
<div class="py-3">
  {% with paginator.object_list.count as cnt %}
    {% blocktrans with urlpath.path as path and cnt|pluralize:_("article,articles") as articles_plur and cnt|pluralize:_("is,are") as articles_plur_verb trimmed %}
      Browsing <strong><a href="{{ self_url }}">/{{ path }}</a></strong>. There {{ articles_plur_verb }} <strong>{{ cnt }} {{ articles_plur }}</strong> in this level.
    {% endblocktrans %}
  {% endwith %}
</div>
-->

			<div class="tabbed">
			   <input checked="checked" id="at" type="radio" name="tabs" />
			   <input id="bt" type="radio" name="tabs" />

			   <nav>
			      <label for="at"><h3>Allgemeiner Teil</h3></label>
			      <label for="bt"><h3>Besonderer Teil</h3></label>
			   </nav>

			   <figure>
			      <div class="at">
              {% for urlpath in directory %}
              <a href="{% url 'wiki:get' path=urlpath.path %}"><span class="badge badge-pill">{{ urlpath.article.current_revision.title }}</span></a>
              <em>{% trans "There are no articles in this level" %}</em>
              {% endfor %}
			      </div>
			      <div class="bt">
              {% for item in categories_bt %}
                {% if item.first.id > 0 %}
                  <a href="#"><span class="badge badge-pill">Test</span></a>
                {% endif %}
              {% endfor %}
			      </div>
			   </figure>
			</div>

<!--
<table class="table table-striped">
  <tr>
    <th>{% trans "Title" %}</th>
    <th>{% trans "Last modified" %}</th>
  </tr>
  {% for urlpath in directory %}
    <tr>
      <td>
        <a href="{% url 'wiki:get' path=urlpath.path %}"> {{ urlpath.article.current_revision.title }} </a>
        <a href="{% url 'wiki:dir' path=urlpath.path %}" class="list-children"> › </a>
        {% if urlpath.article.current_revision.deleted %}
          <span class="fa fa-trash"></span>
        {% endif %}
        {% if urlpath.article.current_revision.locked %}
          <span class="fa fa-lock"></span>
        {% endif %}
      </td>
      <td>
        {{ urlpath.article.current_revision.created|date:"j.n.Y G.i Uhr" }}
      </td>
    </tr>
    {% empty%}
    <tr>
      <td colspan="100">
        <em>{% trans "There are no articles in this level" %}</em>
      </td>
    </tr>
  {% endfor %}
</table>
-->


{% include "wiki/includes/pagination.html" %}

{% endblock %}
