{% extends "wiki/article.html" %}
{% load wiki_tags i18n %}


{% block wiki_pagetitle %}{% trans "Settings" %}: {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}

  {% for form in forms %}
  <form method="POST" class="form-horizontal settings-form" action="?f={{form.action}}">
    <h3 class="page-header" style="margin-top: 30px;">{{ form.settings_form_headline }}</h3>
    {% wiki_form form %}
    <div class="form-group form-actions">
      <div class="class="col-lg-10 col-lg-2-offset">
        <p style="margin-bottom: 0px !important;"><button type="submit" name="save" value="1" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;">
         <span class="underlined yellow" style="font-weight:600;">{% trans "Save changes" %}</span> <i class="bi bi-arrow-right"></i>
         </button>
        </p>
      </div>
    </div>
  </form>
  {% endfor %}

{% endblock %}
