#jurcoach-page {
    width: 100%;
}

#jurcoach-page h1 {
    font-size: 24px;
    font-weight: 800;
    font-family: $serif-font;
}
#jurcoach-page h2 {
    display: inline-block;
    font-size: 28px;
    font-weight: 800 !important;
    font-family: $serif-font;
}
#jurcoach-page h2:after {
    width: 100%;
    height: 26px;
    background: $bg-gray;
    content: "";
    display: block;
    margin-top: -0.72em;
}
#jurcoach-page h3 {
    display: inline-block;
    font-weight: 900;
    color: #333 !important;
    font-family: $serif-font;
    font-size: 1.2rem !important;
    font-weight: 800 !important;
}
#jurcoach-page h3.highlighted {
    background: repeating-linear-gradient(to bottom, transparent, transparent 14px, $bg-gray 14px, $bg-gray 32px);
    line-height: 32px !important;
    display: inline !important;
    & + p {
        margin-top: 8px;
    }
}
#jurcoach-page h3.highlighted.green {
    background:repeating-linear-gradient(to bottom, transparent, transparent 14px, $green 14px, $green 32px);
}
#jurcoach-page a:hover {
    text-decoration: none !important;
}
#jurcoach-page .underlined {
    $border-bottom: 4px solid white;
    border-bottom: $border-bottom;
    &.hover {
        border-bottom: 0px;
        &:hover{
            border-bottom: $border-bottom;
            &.yellow {
                border-color: $yellow;
            }
            &.green {
                border-color: $green;
            }
        }
    }
    &.yellow {
        border-color: $yellow;
    }
    &.green {
        border-color: $green;
    }
} 
#jurcoach-page section {
    display: flex;
    flex-direction: column;
 }
#jurcoach-page .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px !important;
}
#jurcoach-page .carousel {
    padding-top: 40px;
    padding-left: 60px;
    width: 1200px;
}

#jurcoach-page .carousel-inner {
    display: flex;
    overflow: initial;
}

#jurcoach-page .carousel-item {
    margin-right: 50px !important;
    max-width: 240px;
    text-align: left;
}
#jurcoach-page .carousel-item div:nth-child(1) {
    margin-bottom: 40px;
}
#jurcoach-page .carousel-item p {
    font-size: 13px;
    max-width: 280px;
}
#jurcoach-page .carousel-item a {
    color: black;
    font-weight: 700;
    font-size: 14px;
}
#jurcoach-page .bottom-item {
    text-align: left;
    margin-right: 20px;
    width: 25%;
}
#jurcoach-page .bottom-item h3 {
    font-size: 16px;
    font-weight: 800;
}
#jurcoach-page .bottom-item p {
    font-size: 14px;
}
#jurcoach-page .bottom-item a {
    color: #333;
    font-weight: 800;
    font-size: 14px;
}
#jurcoach-page .bottom-item .sidebar-poll {
    background: #ffffff;
    box-shadow: 3px 3px 0px #000000;
    padding: 30px;
    min-width: 220px;
}
#jurcoach-page .bottom-item .sidebar-poll h3,
#jurcoach-page .bottom-item .sidebar-poll h3 b {
    font-family: $serif-font;
    margin-top: -25px;
}
#jurcoach-page .bottom-item .sidebar-poll form {
    text-align: center;
}
#jurcoach-page .bottom-item .sidebar-poll form ul {
    text-align: left;
}
#jurcoach-page .sidebar-poll label {
	display: inline-block;
}
#jurcoach-page .sidebar-poll li {
	margin-bottom: 1rem;
}
#jurcoach-page .sidebar-poll .question {
	display: flex;
	font-size: 13px;
	font-weight: 400;
	color: #555;
}
#jurcoach-page .sidebar-poll .question input {
	margin-right: 10px;
	margin-top: 3px;
}
#jurcoach-page .bottom-item .sidebar-poll form [type="submit"]:not(:disabled)  {
    cursor: pointer;
    background: $yellow;
    border: 0px;
    padding: 7px 10px;
    width: 100%;
    font-weight: bold;
    &:hover {
        background: #FFD800;
    }
}
#jurcoach-page .bottom-item .sidebar-poll:before {
    color: #ffffff;
    font-family: $serif-font;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    content: 'Umfrage';
    position: relative;
    top: -40px;
    background: #000000;
    width: 80px;
}
#jurcoach-page .line {
    height: 20px;
    border-bottom: 3px solid;
    border-color: $line-gray;
    z-index: -999;
    position: relative;
    top: 110px;
    margin-top: -20px;
    max-width: 1030px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#jurcoach-page .triangle {
    background: white;
    border: 3px solid;
    border-color: $line-gray;
    border-width: 3px 3px 0 0;
    transform: rotate(-45deg);
    position: relative;
    left: 50%;
    top: 8px;
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
