#jurcoach-page {
    width: 100%;
}

#jurcoach-page h1 {
    font-size: 24px;
    font-weight: 800;
    font-family: $serif-font;
}
#jurcoach-page h2 {
    display: inline-block;
    font-size: 28px;
    font-weight: 800 !important;
    font-family: $serif-font;
}
#jurcoach-page h2:after {
    width: 100%;
    height: 26px;
    background: $bg-gray;
    content: "";
    display: block;
    margin-top: -0.72em;
}
#jurcoach-page h3 {
    display: inline-block;
    font-weight: 900;
    color: #333 !important;
    font-family: $serif-font;
    font-size: 1.2rem !important;
    font-weight: 800 !important;
}
#jurcoach-page h3.highlighted {
    background: repeating-linear-gradient(to bottom, transparent, transparent 14px, $bg-gray 14px, $bg-gray 32px);
    line-height: 32px !important;
    display: inline !important;
    & + p {
        margin-top: 8px;
    }
}
#jurcoach-page h3.highlighted.green {
    background:repeating-linear-gradient(to bottom, transparent, transparent 14px, $green 14px, $green 32px);
}
#jurcoach-page a:hover {
    text-decoration: none !important;
}
#jurcoach-page .underlined {
    $border-bottom: 4px solid white;
    border-bottom: $border-bottom;
    &.hover {
        border-bottom: 0px;
        &:hover{
            border-bottom: $border-bottom;
            &.yellow {
                border-color: $yellow;
            }
            &.green {
                border-color: $green;
            }
        }
    }
    &.yellow {
        border-color: $yellow;
    }
    &.green {
        border-color: $green;
    }
} 
#jurcoach-page section {
    display: flex;
    flex-direction: column;
 }
#jurcoach-page .container {
    display: flex;
    flex-direction: column;
    max-width: 1100px !important;
}
#jurcoach-page .carousel {
    padding-top: 40px;
    padding-left: 60px;
    width: 1200px;
}

#jurcoach-page .carousel-inner {
    display: flex;
    overflow: initial;
}

#jurcoach-page .carousel-item {
    margin-right: 50px !important;
    max-width: 240px;
    text-align: left;
}
#jurcoach-page .carousel-item div:nth-child(1) {
    margin-bottom: 40px;
}
#jurcoach-page .carousel-item p {
    font-size: 13px;
    max-width: 280px;
}
#jurcoach-page .carousel-item a {
    color: black;
    font-weight: 700;
    font-size: 14px;
}
#jurcoach-page .bottom-item {
    text-align: left;
    margin-right: 20px;
    width: 25%;
}
#jurcoach-page .bottom-item h3 {
    font-size: 16px;
    font-weight: 800;
}
#jurcoach-page .bottom-item p {
    font-size: 14px;
}
#jurcoach-page .bottom-item a {
    color: #333;
    font-weight: 800;
    font-size: 14px;
}
#jurcoach-page .bottom-item .sidebar-poll {
    background: #ffffff;
    box-shadow: 3px 3px 0px #000000;
    padding: 30px;
    min-width: 220px;
}
#jurcoach-page .bottom-item .sidebar-poll h3,
#jurcoach-page .bottom-item .sidebar-poll h3 b {
    font-family: $serif-font;
    margin-top: -25px;
}
#jurcoach-page .bottom-item .sidebar-poll form {
    text-align: center;
}
#jurcoach-page .bottom-item .sidebar-poll form ul {
    text-align: left;
}
#jurcoach-page .sidebar-poll label {
	display: inline-block;
}
#jurcoach-page .sidebar-poll li {
	margin-bottom: 1rem;
}
#jurcoach-page .sidebar-poll .question {
	display: flex;
	font-size: 13px;
	font-weight: 400;
	color: #555;
}
#jurcoach-page .sidebar-poll .question input {
	margin-right: 10px;
	margin-top: 3px;
}
#jurcoach-page .bottom-item .sidebar-poll form [type="submit"]:not(:disabled)  {
    cursor: pointer;
    background: $yellow;
    border: 0px;
    padding: 7px 10px;
    width: 100%;
    font-weight: bold;
    &:hover {
        background: #FFD800;
    }
}
#jurcoach-page .bottom-item .sidebar-poll:before {
    color: #ffffff;
    font-family: $serif-font;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    content: 'Umfrage';
    position: relative;
    top: -40px;
    background: #000000;
    width: 80px;
}
#jurcoach-page .bottom-item .sidebar-poll:after {
	position:relative;
	content: '';
	width: 300px;
	height: 300px;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="144" height="217" viewBox="0 0 144 217"><defs><style>.a{fill:#fff;}</style></defs><g transform="translate(-888 -656.484)"><g transform="translate(888 744.484)"><path class="a" d="M1.583,131.707,0,99.758,1.759,68.589,127.8,78.6l.132.856c1.051,6.845,1.853,12.671,2.384,17.315a106.382,106.382,0,0,1,.816,10.68v.15a36.227,36.227,0,0,0,.28,4.189c.186,1.569.469,3.341.84,5.267.744,3.852,1.875,8.484,3.362,13.766l.185.653ZM69.959,60.722c-10.954,0-23.764-.112-38.075-.334.2-6.234.55-11.806,1.053-16.56.252-2.378.547-4.6.876-6.609s.7-3.857,1.109-5.5a38.359,38.359,0,0,1,1.342-4.381,19.028,19.028,0,0,1,1.574-3.267,8.9,8.9,0,0,1,1.807-2.153,4.859,4.859,0,0,1,2.04-1.039l.513-.114c2.165-.473,4.116-.829,5.836-1.143,4.932-.9,8.189-1.495,10.288-3.661a9.406,9.406,0,0,0,1.4-1.887,14.8,14.8,0,0,0,1.02-2.208,42.761,42.761,0,0,0,1.383-4.855h0c.267-1.1.52-2.141.819-3.128a2.961,2.961,0,0,1,1.33-1.463A11.812,11.812,0,0,1,67.04,1.182a23.81,23.81,0,0,1,3.746-.86A28.69,28.69,0,0,1,75.059,0c.443,0,.887.011,1.32.032a23.227,23.227,0,0,1,3.776.511,23.611,23.611,0,0,1,3.341.984,13.13,13.13,0,0,1,2.454,1.2,2.547,2.547,0,0,1,1.118,1.159c.184.647.387,1.714.645,3.065a73.449,73.449,0,0,0,2.153,9.059,19.665,19.665,0,0,0,1.787,4.055,8.075,8.075,0,0,0,1.127,1.467,4.3,4.3,0,0,0,1.3.925,23.618,23.618,0,0,0,6.823,1.216,36.536,36.536,0,0,1,6.345.928,9.634,9.634,0,0,1,2.6,1.1,5.988,5.988,0,0,1,1.029.816,5.11,5.11,0,0,1,.8,1.036c.717,1.228,1.858,3.43,3.13,6.041,1.375,2.822,2.827,5.965,4.089,8.851,1.493,3.412,2.687,6.374,3.551,8.8a21.711,21.711,0,0,1,1.516,5.9c0,.3-.284.578-.844.837a11.94,11.94,0,0,1-2.532.726,85.865,85.865,0,0,1-10.128,1.117c-4.48.3-10.158.522-16.878.67S78.918,60.722,69.959,60.722Z" transform="translate(6.685 -6.877)"/><path d="M28.742,129.536a.889.889,0,0,1-.746-.424,7.571,7.571,0,0,1-1.023-2.542,22.567,22.567,0,0,1-.418-2.787l-.064-.648c-.225-2.246-.392-4.228-.512-6.057-.238-3.646-.4-7.262-.468-10.748-.075-3.64-.061-7.259.044-10.758.117-3.907.491-7.718.843-10.93.139-1.261.268-2.373.4-3.4l0-.4c0-.1,0-.239,0-.367l-.035-1.091c-.028-.868-.056-1.794-.067-2.731l0-.546-.005-1.017A12.627,12.627,0,0,1,25,74.769c-.306-.073-.6-.141-.864-.191-1.171-.219-2.394-.464-3.636-.73-2.288-.492-4.64-1.087-7.193-1.817l-.506-.145a47.223,47.223,0,0,1-6.5-2.253,12.042,12.042,0,0,1-2.336-1.339c-.02.271-.045.544-.069.808-.028.3-.056.611-.077.916-.036.533-.077,1.075-.116,1.6v.009c-.043.582-.088,1.185-.128,1.782L3.5,74.485c-.113,1.708-.225,3.543-.274,5.383-.252,9.213-.2,16.7.164,23.566.222,4.227.524,8.073.924,11.758.187,1.73.416,3.769.7,5.767.109.769.255,1.548.4,2.3a34.258,34.258,0,0,1,.543,3.6,1.407,1.407,0,0,1-.354,1.1,1.716,1.716,0,0,1-1.266.511,1.84,1.84,0,0,1-1-.287,1.513,1.513,0,0,1-.635-.879,32.544,32.544,0,0,1-.8-4.724c-.07-.59-.143-1.2-.226-1.79l-.034-.239c-.306-2.089-.58-4.343-.837-6.893-.4-3.971-.654-7.988-.753-11.938-.1-3.987-.045-8.011.164-11.961.173-3.315.57-6.937,1.247-11.4l.067-.436c.063-.408.126-.822.187-1.222.192-1.262.39-2.566.615-3.846l.113-.631c.067-.364.131-.742.193-1.108a28.564,28.564,0,0,1,.708-3.362l-.128-.118a4.7,4.7,0,0,1-.688-.76,1.367,1.367,0,0,1-.838-.417,1.28,1.28,0,0,1-.3-.988,21.167,21.167,0,0,1,.761-3.987c.369-1.321.82-2.626,1.257-3.888l.02-.059.115-.332a76.471,76.471,0,0,1,3.172-7.783,72.78,72.78,0,0,1,7.661-12.642,71.487,71.487,0,0,1,10.07-10.821,63.8,63.8,0,0,1,6.207-4.8c1.105-.745,2.227-1.44,3.334-2.067,1.157-.655,2.333-1.255,3.5-1.784a30.162,30.162,0,0,1,7.339-2.347,26.39,26.39,0,0,1,3.823-.431,2.5,2.5,0,0,1,1.29-.348,3.636,3.636,0,0,1,2,.666l.055.037h0l.258.051a.06.06,0,0,1,.047.061.063.063,0,0,1-.047.066l-.012,0a4.841,4.841,0,0,1,.468.419,1.314,1.314,0,0,1,.39.788,1.382,1.382,0,0,1-.158.779,11.77,11.77,0,0,1,1.806,2.184c.521.79.991,1.645,1.446,2.471l.007.012.127.23a17.013,17.013,0,0,0,1.81,2.652A17.462,17.462,0,0,0,60.4,26.873,24.839,24.839,0,0,0,64,29.347a26.446,26.446,0,0,0,8.3,3.005,24.773,24.773,0,0,0,4.4.4,21.685,21.685,0,0,0,6.477-.961A17.647,17.647,0,0,0,87.2,29.941a18.354,18.354,0,0,0,3.472-2.786,17.3,17.3,0,0,0,2.665-3.531,15.3,15.3,0,0,0,1.609-4.086,1.544,1.544,0,0,1-.521.093,1.355,1.355,0,0,1-.459-.079,3.214,3.214,0,0,1-1.6-1.332,11.187,11.187,0,0,1-.951-1.942c-.043-.1-.088-.213-.132-.318l-.028-.067a31.153,31.153,0,0,1-1.421-4.123,22.721,22.721,0,0,1-.7-4.4,15.421,15.421,0,0,1,.01-1.744l.027-.481q0-.039,0-.078v-.01a1.313,1.313,0,0,1,.376-1.08.061.061,0,0,1,.037-.015.05.05,0,0,1,.023.006,1.215,1.215,0,0,1,.574.838l0,0c.014.043.029.087.044.132.128.371.27.743.408,1.1v0c.079.2.16.417.238.628s.166.452.257.7v0c.331.908.674,1.847,1.054,2.757.4.956.936,2.213,1.576,3.464.3.587.616,1.149.887,1.622.072.126.14.266.213.414h0a4.558,4.558,0,0,0,.472.815,2.114,2.114,0,0,1,.086-.315,1.047,1.047,0,0,0-.105.058.075.075,0,0,1-.04.012.086.086,0,0,1-.073-.045.076.076,0,0,1,0-.079,1.385,1.385,0,0,1,.573-.533c.055-.061.214-.092.472-.092a18.725,18.725,0,0,1,3.349.527c1.6.359,3.431.861,5.141,1.412,2.559.825,7.149,2.5,9.14,4.467a52.683,52.683,0,0,1,4.693,5.315,57.35,57.35,0,0,1,3.925,5.81,64.434,64.434,0,0,1,3.216,6.207c.935,2.067,1.8,4.256,2.567,6.5,1.2,3.5,2.343,7.079,3.453,10.542l0,.012c.434,1.355.883,2.757,1.329,4.133.863,2.668,1.759,5.371,2.625,7.986l0,.012c.816,2.461,1.659,5.006,2.472,7.514a1.8,1.8,0,0,1,.071.826,1.907,1.907,0,0,1-.277.734,2.512,2.512,0,0,1-1.242.987c-1.936.714-3.856,1.374-5.707,1.96a86.313,86.313,0,0,1,2.05,10.881c.364,2.84.612,5.751.851,8.565h0c.2,2.332.4,4.743.674,7.1.3,2.649.657,4.951,1.083,7.039.372,1.826.845,3.6,1.259,5.088l.108.389c.062.219.124.446.179.647h0c.21.762.426,1.549.693,2.306.093.262.2.529.295.788a14.1,14.1,0,0,1,.585,1.742,2.584,2.584,0,0,1-.085,1.5,2.132,2.132,0,0,1-.974,1.132,1.828,1.828,0,0,1-.879.22,1.794,1.794,0,0,1-.811-.189,1.48,1.48,0,0,1-.61-.57,1.356,1.356,0,0,1-.172-.51c-.071-.152-.135-.3-.188-.449-.019-.051-.038-.109-.06-.181l-.055-.183c-.134-.439-.259-.885-.38-1.316-.2-.71-.4-1.406-.625-2.108l-.113-.349c-.559-1.7-1.057-3.417-1.478-5.095-.343-1.367-.634-2.774-.891-4.3-.229-1.359-.424-2.781-.6-4.348-.323-2.91-.519-5.883-.709-8.758h0v0c-.031-.469-.063-.954-.095-1.431l-.022-.326c-.23-3.39-.351-6-.391-8.473-.051-3.078.031-5.846.249-8.464l-.064.021-.064.019c-.651.2-1.252.378-1.837.547l-.013,0c-.015.005-.028.01-.043.014-.4.123-.8.239-1.208.345l-.247.063-.174.048-.183.052-.162.047a5.538,5.538,0,0,1-1.533.3h-.083a19.622,19.622,0,0,1-3.015.26c.33,5.39.685,10.325,1.087,15.087.444,5.27,1.047,10.565,1.576,15.113.311,2.674.618,5.109.94,7.443.192,1.4.365,2.575.58,3.751.047.254.1.517.156.771a8.033,8.033,0,0,1,.245,3.152.049.049,0,0,0-.016,0,1.443,1.443,0,0,1-.7.938,1.533,1.533,0,0,1-.774.2,1.642,1.642,0,0,1-.783-.2,1.47,1.47,0,0,1-.582-.568c-.035-.061-.069-.125-.1-.19a3.677,3.677,0,0,1-1.458.257l-7.73.077c-3.194.032-6.906.07-10.541.123-3.512.052-7.056.107-10.483.159h0c-7.413.115-15.079.233-22.619.324l-4.138.048c-2.028.021-4.09.05-6.085.077h-.014c-4.064.056-8.267.114-12.4.114h-.125c-3.464,0-6.373-.015-9.311-.086-1.421-.035-2.829-.088-4.507-.157l-.265-.012-.411-.022c-.477-.026-.97-.052-1.457-.052A7.857,7.857,0,0,0,29.58,129,.954.954,0,0,1,28.742,129.536ZM56.54,17a1.483,1.483,0,0,1-1.078-.513,2.227,2.227,0,0,1-.551-1.148,1.648,1.648,0,0,1,.153-1.037,1.479,1.479,0,0,1,.9-.707,12.381,12.381,0,0,0,3.225-2.424,17.119,17.119,0,0,0,2.446-3.217,23.283,23.283,0,0,0,1.868-3.844c.227-.617.415-1.255.6-1.872h0c.213-.721.432-1.466.715-2.178A.09.09,0,0,1,64.9,0a.061.061,0,0,1,.056.036,6.832,6.832,0,0,1,.62,2.24A10.219,10.219,0,0,1,65.532,4.7a15.454,15.454,0,0,1-1.386,4.565,16.146,16.146,0,0,1-2.465,3.7,22.259,22.259,0,0,1-3.249,2.986c-.317.242-.655.49-1,.737A1.533,1.533,0,0,1,56.54,17Z" transform="translate(4.75 -2.991)"/></g><g transform="translate(923 656.484)"><path class="a" d="M58.654,16.4c-.679-4.109,1.55-4.962,0-8.868C55.209.293,45.821.605,38.932.049a51.483,51.483,0,0,0-22.544,3.8,36.306,36.306,0,0,0-4.879,2.583A2.128,2.128,0,0,0,11.2,9.779C5.062,18.465,8.57,30.123,3.676,39.265c-.9,1.634-2.1,3.1-2.886,4.8C-.4,46.65-.48,50.354,2.228,52.07c3.815,2.048,5.944-2.007,7.819,3.871C19.409,76.434,38.232,77.588,56.1,66.9a15.464,15.464,0,0,0,4.291-3.183c2.65-2.982,2.338-7.176,2.4-10.9q.049-3.274.017-6.548C62.723,37.432,59.792,25.168,58.654,16.4Z" transform="translate(9.148 14.074)"/><path d="M37.559,88.222a11.2,11.2,0,0,1-3.05-.386,6.505,6.505,0,0,1-2.829-1.548A3.433,3.433,0,0,1,30.849,85a3.075,3.075,0,0,1-.1-1.624.764.764,0,0,1,.309-.49.931.931,0,0,1,.534-.16.97.97,0,0,1,.829.432l.089.143a4.435,4.435,0,0,0,1.783,1.8,5.824,5.824,0,0,0,1.509.455,10.128,10.128,0,0,0,1.575.129h.195a34.692,34.692,0,0,0,8.5-1.412,48.644,48.644,0,0,0,7.758-2.7,34.354,34.354,0,0,0,7.052-4.19,12.156,12.156,0,0,0,2.379-2.413,8.839,8.839,0,0,0,.852-1.442,8.009,8.009,0,0,0,.553-1.618,21.345,21.345,0,0,0-.059-7.141c-.062-.519-.126-1.055-.179-1.573-.517-5.075-1.148-10.464-2.046-17.472l-.15-1.163q-.077-.6-.155-1.194v-.008c-.569-4.389-1.158-8.927-1.445-13.415a1.376,1.376,0,0,1-.253-.6l-.049-.318a2.645,2.645,0,0,1-.019-.753c0-.909.027-1.774.077-2.644.009-.159.016-.318.021-.473-.857.189-1.764.354-2.772.5a88.734,88.734,0,0,1-13.17.985c-2.185,0-4.4-.082-6.575-.244-3.039-.226-6.242-.616-9.793-1.191-1.7-.275-3.366-.576-4.945-.894-.967-.193-1.934-.447-2.869-.692l-.009,0-.641-.167a10,10,0,0,0-1.364,2.879,9.294,9.294,0,0,0-.365,3.153,11.954,11.954,0,0,0,.689,2.946,17.11,17.11,0,0,1,.57,2.035,5.645,5.645,0,0,1,.043,2.1A3.633,3.633,0,0,1,17.6,39.027a9.892,9.892,0,0,1-2.756,1.149l-.832.241a2.4,2.4,0,0,0-.807.35,1.146,1.146,0,0,0-.414.787,13.175,13.175,0,0,0,.017,2.922c.033.422.065.82.08,1.213.019.482.04.969.06,1.44.046,1.072.094,2.181.119,3.272.005.217.011.437.017.65v0c.016.586.033,1.192.032,1.787a2.45,2.45,0,0,1-.311,1.344,5.038,5.038,0,0,1,.464.7.079.079,0,0,1,0,.08.089.089,0,0,1-.074.044.075.075,0,0,1-.054-.024,4.6,4.6,0,0,0-.554-.491,4.562,4.562,0,0,1-.347.377l-.01-.014a1.116,1.116,0,0,1-.791.33,1.245,1.245,0,0,1-.812-.316l-.136-.118a1.9,1.9,0,0,1-.747-1.161h0c-.005-.028-.011-.056-.014-.083-.06,0-.122,0-.185,0a5.453,5.453,0,0,0-2.631.679,6.511,6.511,0,0,0-2.92,3.188,3.69,3.69,0,0,0,.807.707.04.04,0,0,1,.017.046.043.043,0,0,1-.04.031.045.045,0,0,1-.02,0A3.864,3.864,0,0,1,3.9,57.6a7.773,7.773,0,0,0-.438,1.694,7.5,7.5,0,0,0,.244,3.3,5.36,5.36,0,0,0,.724,1.48,4.21,4.21,0,0,0,1.188,1.135,5.2,5.2,0,0,0,2.757.809h.014a5.414,5.414,0,0,0,1.343-.194c.073-.018.148-.038.22-.058h0a2.822,2.822,0,0,1,.735-.132,1.532,1.532,0,0,1,.783.211l-.067.006a.381.381,0,0,0-.1.015,1.008,1.008,0,0,0,.2.007.917.917,0,0,1,.774.457.94.94,0,0,1,.009.909l-.042.1-.011.024-.011.024-.026.165,0,.018v0l0,.026-.01.033-.006.016,1.055,1.609a61.411,61.411,0,0,0,4.122,5.728A47.183,47.183,0,0,0,20.7,78.625a10.6,10.6,0,0,0,2.258,1.561c.422.24.859.489,1.281.773a1.336,1.336,0,0,1,.592.967,1.149,1.149,0,0,1-.345.94,2.605,2.605,0,0,1-1.89.8,4.186,4.186,0,0,1-1.975-.569,7.681,7.681,0,0,1-1.68-1.26,24.445,24.445,0,0,1-3.469-4.465,31.969,31.969,0,0,1-2.314-4.352,24.141,24.141,0,0,1-.855-2.294,21,21,0,0,1-.6-2.382,2.59,2.59,0,0,1-.91.494,7.189,7.189,0,0,1-2.083.348c-.08,0-.161,0-.242,0a8.512,8.512,0,0,1-3.632-.857,7.172,7.172,0,0,1-2.65-2.165,8.459,8.459,0,0,1-1.44-3.05A10.314,10.314,0,0,1,.6,58.828,9.484,9.484,0,0,1,2.22,54.9a23.37,23.37,0,0,1-.705-2.749c-.057-.269-.111-.522-.167-.77L1.236,50.9C.876,49.33.619,48.03.426,46.808a33.126,33.126,0,0,1-.412-4.136,19.289,19.289,0,0,1,1.348-8.147,15.637,15.637,0,0,1,.973-1.984c.1-.166.216-.333.341-.509a3.577,3.577,0,0,0,.62-1.131c.212-.858-.6-1.754-1.326-2.544a6.824,6.824,0,0,1-.882-1.094,3.794,3.794,0,0,1-.52-1.881A2.848,2.848,0,0,1,1.614,23.2,5.016,5.016,0,0,1,.979,20.65a4.465,4.465,0,0,1,.869-2.538A4.994,4.994,0,0,1,4.99,16.161a5.187,5.187,0,0,1,.879-.072,6.156,6.156,0,0,1,1.642.225,60.39,60.39,0,0,1,7.355-5.839,56.677,56.677,0,0,1,8.191-4.581A65.558,65.558,0,0,1,36.606,1.476,68.952,68.952,0,0,1,57.852.362a66.624,66.624,0,0,1,17,3.978l.478.185.238.091a9.541,9.541,0,0,1,3.584,2,4.111,4.111,0,0,1,.728,1.022A3.968,3.968,0,0,1,80.252,8.8a3.7,3.7,0,0,1-.429,2.406,5.012,5.012,0,0,1-1.332,1.508,6.563,6.563,0,0,1-1.787.963,10.607,10.607,0,0,1,1.268,1.23,2.037,2.037,0,0,1,.522,1.307,1.79,1.79,0,0,1-.123.681,1.886,1.886,0,0,1-.4.617,10.832,10.832,0,0,1-2.36,1.858,10.941,10.941,0,0,1-2.775,1.147,5.411,5.411,0,0,1-.368,3.27A4.611,4.611,0,0,1,71.285,25.4a5.65,5.65,0,0,1-1.671.989,11.053,11.053,0,0,1-3.989.635c-.381,0-.782-.013-1.191-.038l-.088-.006-.162,1.852a2.231,2.231,0,0,1-.5,1.265,1.9,1.9,0,0,1-1.184.638c-.035.005-.07.009-.106.012a149.434,149.434,0,0,1,3.43,17.536c.4,2.686.8,5.532,1.272,9.226l.131,1.026c.1.755.2,1.524.3,2.268v0c.34,2.538.692,5.163.834,7.746A16.631,16.631,0,0,1,68.34,70.8a13.219,13.219,0,0,1-.355,2.165,11.285,11.285,0,0,1-.736,2.055,10.763,10.763,0,0,1-1.169,1.916,18.011,18.011,0,0,1-6.428,5.061,67.425,67.425,0,0,1-8.561,3.562c-1.48.495-2.976.929-4.446,1.291-1.516.374-3.049.682-4.557.915l-.41.063A27.445,27.445,0,0,1,37.559,88.222ZM13.088,62.235A1.126,1.126,0,0,1,12.4,62c-.3-.226-.576-.462-.842-.69a6.2,6.2,0,0,0-2.188-1.388,9.539,9.539,0,0,0-2.832-.482,5.674,5.674,0,0,0-.982.081l-.025,0a.176.176,0,0,1-.16-.11.122.122,0,0,1,.039-.14,6.357,6.357,0,0,1,1.747-1.128,5.072,5.072,0,0,1,2-.4c.164,0,.332.007.5.022a8.357,8.357,0,0,1,2.6.654,5.843,5.843,0,0,1,1.172.682,4.127,4.127,0,0,1,.913.944,1.251,1.251,0,0,1,.036,1.326A1.555,1.555,0,0,1,13.088,62.235Z" transform="translate(6.685 0)"/></g><g transform="translate(950 689.484)"><path d="M19.005,33.743a6.7,6.7,0,0,1-2.541-.507,7.179,7.179,0,0,1-1.659-.953,7.065,7.065,0,0,1-1.35-1.362,1.4,1.4,0,0,1-.282-1.08,1.557,1.557,0,0,1,.606-.976,1.493,1.493,0,0,1,.889-.309,1.289,1.289,0,0,1,.2.015,1.372,1.372,0,0,1,.919.607l.054.075a4.742,4.742,0,0,0,1.737,1.458,3.944,3.944,0,0,0,1.723.4,3.818,3.818,0,0,0,.427-.024,4.487,4.487,0,0,0,1.9-.667,8.883,8.883,0,0,0,1.607-1.341c.115-.117.237-.245.395-.413a.625.625,0,0,1,.328-.252.672.672,0,0,1,.213-.034.726.726,0,0,1,.594.31.663.663,0,0,1,.112.436,4,4,0,0,1-.475,1.551,5.178,5.178,0,0,1-1.016,1.3,6.529,6.529,0,0,1-1.538,1.072,6.405,6.405,0,0,1-1.707.585A6.287,6.287,0,0,1,19.005,33.743Zm1.789-10.13h0a6.142,6.142,0,0,1-2.19-.441,11.061,11.061,0,0,1-2.575-1.461.99.99,0,0,1-.359-.572,1.184,1.184,0,0,1,.051-.642,1.46,1.46,0,0,1,.433-.627,1.056,1.056,0,0,1,.676-.264.959.959,0,0,1,.523.16l.174.134h0a13.943,13.943,0,0,0,1.612,1.121,3.971,3.971,0,0,0,1.932.616,2.087,2.087,0,0,0,.816-.161,2.282,2.282,0,0,0,.76-.539,2.332,2.332,0,0,0,.442-1.877,3.546,3.546,0,0,0-.941-1.665,6.862,6.862,0,0,0-1.425-1.15.442.442,0,0,1-.12-.508.663.663,0,0,1,.22-.316.674.674,0,0,1,.421-.139.9.9,0,0,1,.151.013,4.777,4.777,0,0,1,1.68.607,3.811,3.811,0,0,1,1.13,1.042,4.139,4.139,0,0,1,.721,2.765,4.556,4.556,0,0,1-.369,1.451,4.234,4.234,0,0,1-.833,1.247A3.98,3.98,0,0,1,20.794,23.613ZM6.544,13.721a1.436,1.436,0,0,1-.932-.365,1.452,1.452,0,0,1-.489-.939A10.572,10.572,0,0,1,5.18,9.664c.033-.268.068-.544.092-.842A1.648,1.648,0,0,1,5.9,7.644a1.924,1.924,0,0,1,1.184-.416,1.459,1.459,0,0,1,.895.282,1.327,1.327,0,0,1,.494.88A7.386,7.386,0,0,1,7.7,12.941a1.46,1.46,0,0,1-.515.6A1.188,1.188,0,0,1,6.544,13.721ZM27.461,13.1a1.256,1.256,0,0,1-.985-.422,3.848,3.848,0,0,1-.6-1.02,4.445,4.445,0,0,1-.306-1.229,2.606,2.606,0,0,1,.711-2.237,1.475,1.475,0,0,1,.114-.174A1.61,1.61,0,0,1,27.631,7.3a1.342,1.342,0,0,1,.376.055,1.811,1.811,0,0,1,1.21,1.056,3.733,3.733,0,0,1,.15,2.042,6.835,6.835,0,0,1-.619,1.926,1.25,1.25,0,0,1-.535.529A1.622,1.622,0,0,1,27.461,13.1ZM.231,6.537a.228.228,0,0,1-.19-.117.255.255,0,0,1-.015-.25A8.678,8.678,0,0,1,1.972,3.707a12.029,12.029,0,0,1,2.6-1.779A11.2,11.2,0,0,1,7.668.85L8,.792A8.047,8.047,0,0,1,9.348.646a2.085,2.085,0,0,1,1.665.621,1.415,1.415,0,0,1,.335,1.005.921.921,0,0,1-.335.657,2.565,2.565,0,0,1-1.758.516c-.139,0-.282,0-.42-.007H8.829c-.133,0-.284-.007-.434-.007s-.261,0-.376.01A11.89,11.89,0,0,0,5.4,3.886,17.786,17.786,0,0,0,.353,6.5.217.217,0,0,1,.231,6.537ZM32.079,5.2h0L31.94,5.17a7.878,7.878,0,0,1-1.527-.6l-.5-.244a13.773,13.773,0,0,0-1.771-.755,20.9,20.9,0,0,0-4.034-.891,1.648,1.648,0,0,1-.809-.307,1.213,1.213,0,0,1-.453-.689A1.233,1.233,0,0,1,22.989.655,1.316,1.316,0,0,1,23.628.1a1.437,1.437,0,0,1,.544-.1,1.6,1.6,0,0,1,.314.032l.253.052A18.054,18.054,0,0,1,29.1,1.5a8.81,8.81,0,0,1,1.916,1.26,5.593,5.593,0,0,1,1.355,1.751c.047.366,0,.456-.046.518l-.014.018-.012.017a.35.35,0,0,1-.216.144Z" transform="translate(9.324 9.148)"/></g><g transform="translate(931 695.484)"><path d="M32.663,20.245h0a9.849,9.849,0,0,1-3.02-.462,8.324,8.324,0,0,1-2.667-1.418,7.794,7.794,0,0,1-2.007-2.423,9.617,9.617,0,0,1-1.04-3.478h-.074a3.047,3.047,0,0,1-1.674-.553,4.188,4.188,0,0,1-1.257-1.326c-.716.046-1.475.068-2.322.068-1.471,0-3.006-.069-4.49-.136h-.026c-1.5-.067-3.044-.137-4.564-.137a34.113,34.113,0,0,0-3.667.176,19.759,19.759,0,0,0-3.507.678,1.027,1.027,0,0,1-.965.546,1.736,1.736,0,0,1-.909-.266A.916.916,0,0,1,0,10.872.872.872,0,0,1,.466,10.1a5.177,5.177,0,0,1,1.863-.683A23.307,23.307,0,0,1,5.9,8.815c1.1-.106,2.294-.157,3.654-.157,1.492,0,3.011.061,4.48.121h.006c1.466.059,2.982.121,4.454.121,1.048,0,1.982-.031,2.856-.093a18.425,18.425,0,0,0,3.338-2.724c.58-.554,1.179-1.126,1.8-1.637a10.4,10.4,0,0,1,2-1.324,11.129,11.129,0,0,1,5.346-1.388A8.927,8.927,0,0,1,38.47,2.956a7.49,7.49,0,0,1,1.873,1.61A8.267,8.267,0,0,1,41.7,6.915a12.24,12.24,0,0,1,4.547-.8,15.665,15.665,0,0,1,2.819.256,6.879,6.879,0,0,1,1.066-1.8,8.5,8.5,0,0,1,1.436-1.828,9.915,9.915,0,0,1,4.112-2.4A8.432,8.432,0,0,1,58.021,0a6.6,6.6,0,0,1,5.017,2.2c.195.021.275.214.334.356a.316.316,0,0,0,.072.129,8.294,8.294,0,0,1,.574.848,5.428,5.428,0,0,0,1.495.814A5.847,5.847,0,0,1,66.8,5a1.894,1.894,0,0,1,.459.484,1.7,1.7,0,0,1,.25.672,1.589,1.589,0,0,1-.3,1.3,4.449,4.449,0,0,1-1,.861,4.355,4.355,0,0,0-.975.841,1.434,1.434,0,0,1-.256.474,14.19,14.19,0,0,1-1.288,3.785A10.75,10.75,0,0,1,61.67,16.2a8.353,8.353,0,0,1-2.5,1.707,6.805,6.805,0,0,1-2.724.582,6.308,6.308,0,0,1-2.546-.535,7.185,7.185,0,0,1-2.3-1.636,10.047,10.047,0,0,1-1.846-2.787,15.866,15.866,0,0,1-1.174-3.985,2.953,2.953,0,0,0-.978-.564,3.247,3.247,0,0,0-1.064-.2,1.948,1.948,0,0,0-.271.018,5.556,5.556,0,0,1-1.261.4,7.334,7.334,0,0,0-2.614,2.65,8.422,8.422,0,0,1-1,3.572,8.556,8.556,0,0,1-2.243,2.638A10.055,10.055,0,0,1,36.1,19.685,10.8,10.8,0,0,1,32.663,20.245ZM34.6,4.224a9.532,9.532,0,0,0-4.252,1.1A12.565,12.565,0,0,0,26.46,8.428a9.4,9.4,0,0,0-.87,4.065A5.863,5.863,0,0,0,27.7,16.872a6.82,6.82,0,0,0,1.463.938,8.12,8.12,0,0,0,3.477.767,7.862,7.862,0,0,0,5.048-1.765,7.2,7.2,0,0,0,1.8-2.273,8.964,8.964,0,0,0,.9-3.259,9.6,9.6,0,0,0-.42-3.257A5.7,5.7,0,0,0,38.663,5.8,5.505,5.505,0,0,0,34.6,4.224Zm23.188-2.1a5.022,5.022,0,0,0-1.887.362,5.124,5.124,0,0,0-1.714,1.146A15.112,15.112,0,0,0,51.617,7.6a7.392,7.392,0,0,0-.565,4.574,10.579,10.579,0,0,0,1.033,1.88,7.431,7.431,0,0,0,1.272,1.418,5.294,5.294,0,0,0,1.468.9,4.391,4.391,0,0,0,1.621.312,4.919,4.919,0,0,0,1.883-.392,7.507,7.507,0,0,0,1.958-1.229,13.982,13.982,0,0,0,2.18-3.9v-.176a11.589,11.589,0,0,0,.7-3.992,10.538,10.538,0,0,0-.151-1.318,5.34,5.34,0,0,0-.856-1.464,5.671,5.671,0,0,0-1.238-1.119,5.787,5.787,0,0,0-1.5-.715A5.487,5.487,0,0,0,57.792,2.124Z" transform="translate(2.111 1.935)"/></g></g></svg>');
	background-repeat: no-repeat;
}

#jurcoach-page .line {
    height: 20px;
    border-bottom: 3px solid;
    border-color: $line-gray;
    z-index: -999;
    position: relative;
    top: 110px;
    margin-top: -20px;
    max-width: 1030px !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#jurcoach-page .triangle {
    background: white;
    border: 3px solid;
    border-color: $line-gray;
    border-width: 3px 3px 0 0;
    transform: rotate(-45deg);
    position: relative;
    left: 50%;
    top: 8px;
    width: 20px;
    height: 20px;
}

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
