#session-page {
    margin-top: 20px;
}

#session-page h3 {
    font-size: 1.1rem;
    font-weight: 700;
}

.block-semester_block {
    display: flex;
    flex-direction: column;
}
.session-group {
    display: flex;
    flex-direction: column;
}
.session-cards {
    display: flex;
    flex-direction: column;
}
.session-card {
    margin-bottom: 8px;
}
.session-material {
    display: flex;
    flex-direction: column;
    line-height: 2rem !important;
}
.session-material h3 {
    color: rgb(61, 61, 61) !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
    margin-top: 20px;
}

.session-material h1 {
}
