#session-page {
    margin-top: 20px;
}

.block-semester_block {
    display: flex;
    flex-direction: column;
}
.session-group {
    xdisplay: flex;
    xflex-direction: column;
}
.session-cards {
    display: flex;
    flex-direction: column;
}
.session-card {
    margin-bottom: 8px;
}
.session-material {
    display: flex;
    flex-direction: column;
    line-height: 2rem !important;
}
.session-material h3 {
    margin-top: 20px !important;
}
