#profile-nav {
    margin-top: 50px;
    color: black;
}
#profile-nav a {
    color: #444;
}

#profile-quizzes-page select {
    background: #efefef;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 4px 8px;
}