#quiz-category-question { border: 1px solid red !important; }
#quiz-category-question h6 {
    font-family: "Roboto Slab";
    font-weight: 700;
}

#quiz-category-question #show-results-button {
    background: yellow;
    color: black;
}
