{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Roboto:400,500,700,900|Source+Serif+Pro:400,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'feedback/index.css' %}">

{% block main %}{% endblock %}

<script src="{% static 'website/js/index.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.1.1/iframeResizer.contentWindow.min.js"></script>
