{% load pipeline %}
{% load static wagtailuserbar menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<meta name="author" content="Institut für Kriminologie und Wirtschaftsstrafrecht Freiburg">
				<meta name="description" content="Website des Instituts für Kriminologie und Wirtschaftsstrafrecht Freiburg">

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        {# Global stylesheets #}
	<link href="{% static "css/sidebar.css" %}" rel="stylesheet">
	<link href="{% static "css/sidebars/header.css" %}" rel="stylesheet">
	<link href="{% static "css/sidebars/image_text.css" %}" rel="stylesheet">
	<link href="{% static "css/sidebars/poll.css" %}" rel="stylesheet">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

				{% include "layout/menu.html" %}

				{% if page.slug != "strafrecht-online" %}
				<main role="main" class="container">
					<div class="row">
				{% endif %}

						{% block content %}{% endblock %}
						{% block sidebar %}{% endblock %}

				{% if page.slug != "strafrecht-online" %}
					</div>
				</main>
				{% endif %}

				<footer class="footer">
					<div class="container">
						<ul>
							<li><a href="#" class="text-muted">Impressum</a></li>
							<li><a href="#" class="text-muted">Kontakt</a></li>
							<li><a href="#" class="text-muted">Datenschutz</a></li>
							<li><a href="#" class="text-muted">Cookies & Tracking</a></li>
							<li style="float:right;"><a href="https://github.com/strafrecht" class="social-media-icon fa fa-github"></a></li>
							<li style="float:right;"><a href="https://www.instagram.com/jurcoach/" class="social-media-icon fa fa-instagram"></a></li>
							<li style="float:right;"><a href="https://www.facebook.com/jurcoach" class="social-media-icon fa fa-facebook-square"></a></li>
						</ul>
					</div>
				</footer>

        {# Global javascript #}
				{% javascript 'base' %}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
