{% load pipeline %}
{% load pwa %}
{% load static wagtailuserbar menu_tags %}
{% load wagtailimages_tags %}
{% load wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Institut für Kriminologie und Wirtschaftsstrafrecht Freiburg">
		<meta name="description" content="Website des Instituts für Kriminologie und Wirtschaftsstrafrecht Freiburg">
		{% progressive_web_app_meta %}

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        {# Global stylesheets #}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,500|Roboto:400,500,600,700,900&display=swap" />
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap" />
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
			<link rel="stylesheet" href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css" />
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" />
			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
			<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
			<link href="{% static 'css/app.css' %}" rel="stylesheet">

			{% stylesheet 'base' %}
			{% stylesheet 'sidebar' %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
	    
		{% block headersection %}
			{% if page.header %}
				<div class="with-header">
					{% include "layout/menu.html" %}
				</div>
			{% else %}
				<div class="without-header">
					{% include "layout/menu.html" %}
				</div>
			{% endif %}

			{% if page.header  %}
			<section
			style="
				background: transparent url('{{ page.header.file.url }}') center center no-repeat padding-box;
				opacity: 1;
				background-size: cover;
				background-position: center;
			">
				<div style="background: rgba(0,0,0,0.5); padding: 100px 0; min-height: 402px;">
					{% block headertext %}{% endblock %}
				</div>
			</section>
			{% endif %}
		{% endblock %}
	
		{% if self.get_ancestors|length > 1 %}
	    		{% if page.header %}
				<div class="breadcrumb-new">
			{% else %}
				<div class="breadcrumb-new" style="margin: 50px auto 0 auto !important;">
			{% endif %}
				Du bist hier: 
				{% for page in self.get_ancestors %}
					{% if page.is_root == False %}
					<a style="color: #3d3d3d; text-decoration: none;" href="{% pageurl page %}">{{ page.title|truncatechars:25 }}</a> >
					{% endif %}
				{% endfor %}
				{{ self.title }}
			</div>
		{% endif %}

	
				{% if page.slug != "strafrecht-online" %}
				<main role="main" class="{% if page.slug == 'jurcoach' %}'w-full'{% else %}container{% endif %}">
					<div class="container-inner flex-column flex-md-row p-0 w-full">
				{% endif %}

				<!--div class="content d-inline-flex col-xs-12 col-sm-12 col-md-{% if page.sidebar %}8{% else %}12{% endif %} col-lg-12 p-0 pr-4"-->
				<div class="{% if page.slug == 'jurcoach' %}w-100{% else %}content{% endif %}">
					{% block content %}{% endblock %}
				</div>

				{% if page.sidebar %}
				<div class="sidebar d-inline-flex col-xs-12 col-sm-12 col-md-4 p-0">
					{% block sidebar %}{% endblock %}
				</div>
				{% endif %}

				{% if page.slug != "strafrecht-online" %}
					</div>
				</main>
				{% endif %}

				<footer class="footer">			
					<div class="container">
						<div class="flex-item">
							<p class="logo"></p>
							<p class="sublogo">Institut für Kriminologie und Wirtschaftsstrafrecht</p>
							<p class="sublogo">Rechtswissenschaftliche Fakultät der Universität Freiburg</p>
						</div>
						<div class="flex-item">
							<div class="socialmediaicons">
								<a href="https://github.com/strafrecht" class="social-media-icon fa fa-github"></a> <a href="https://www.instagram.com/jurcoach/" class="social-media-icon fa fa-instagram"></a> <a href="https://www.facebook.com/jurcoach" class="social-media-icon fa fa-facebook-square"></a>
							</div>
							<div class="shortlinks">
								<a href="#">Datenschutz</a> | <a href="#">Impressum & Kontakt</a> | <a href="https://uni-freiburg.de/">Universität Freiburg</a>
							</div>
						</div>
					</div>
				</footer>

        {# Global javascript #}
			<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
			<script src="https://browser.sentry-cdn.com/5.6.3/bundle.min.js"></script>
			<!--
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
			<script src="https://www.jsdelivr.com/package/npm/chart.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.4/chartist.min.js"></script-->
			<script src="https://use.fontawesome.com/2f4f67fb08.js"></script>
			<script src="https://browser.sentry-cdn.com/5.25.0/bundle.min.js" integrity="sha384-2p7fXoWSRPG49ZgmmJlTEI/01BY1LgxCNFQFiWpImAERmS/bROOQm+cJMdq/kmWS" crossorigin="anonymous"></script>
			<!-- include VueJS first -->
			<!-- use the latest vue-select release -->
			<script src="https://unpkg.com/vue-select@latest"></script>
			<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">

			<!-- or point to a specific vue-select release -->
			<script src="https://unpkg.com/vue-select@3.0.0"></script>
			<link rel="stylesheet" href="https://unpkg.com/vue-select@3.0.0/dist/vue-select.css">

		<script>
		  (function(d,t) {
			var BASE_URL="http://chat.strafrecht-online.org";
			var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=BASE_URL+"/packs/js/sdk.js";
			s.parentNode.insertBefore(g,s);
			g.onload=function(){
			  window.chatwootSDK.run({
				websiteToken: 'CYuEHNWYncGMaRAQbRXD4Pb4',
				baseUrl: BASE_URL
			  })
			}
		  })(document,"script");
		</script>

		<script src="{% static 'js/vendors.js' %}"></script>
		<script src="{% static 'js/app.js' %}"></script>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    </body>
</html>
