{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags website_tags %}

{% block body_class %}template-websitepage{% endblock %}

{% block content %}
	<div class="col-md-8">
		<h2 class="font-weight-bold">{{ page.title }}</h2>
		<p class="meta">{{ page.date }}</p>

		{{ page.body|richtext }}

		{% for item in page.gallery_images.all %}
			<div style="float: left; margin: 10px">
				{% image item.image fill-320x240 %}
				<p>{{ item.caption }}</p>
			</div>
		{% endfor %}

		{% if page.tags.all.count %}
			<div class="tags">
				<h3>Tags</h3>
				{% for tag in page.tags.all %}
					<a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
				{% endfor %}
			</div>
		{% endif %}

		<p><a href="{{ page.get_parent.url }}">Return to block</a></p>
	</div>
{% endblock %}

{% block sidebar %}
	<div class="col-md-4 sidebar">

	{% for sidebar_placement in page.sidebar_placements.all %}
		<div class="row sidebar-item">
			<div class="col-md-4 left">
				{% image sidebar_placement.sidebar.image fill-100x100 %}
			</div>
			<div class="col-md-8 right">
				<p>{{ sidebar_placement.sidebar.text|richtext }}</p>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}
