{% extends "profiles/index.html" %}

{% load static %}

{% block contents %}
<div class="flex">
	<h4>Wiki Revisions</h4>

		{% if revisions %}
			{% for revision in revisions %}
				<div class="bg-white rounded-lg p-3 my-2">
					<a href="{% url 'wiki:change_revision' revision.article.id revision.id %}" class="text-info">
						{{ revision.title }} [{{ revision.revision_number }}]
					</a>
					<div>Status: pending</div>
				</div>
			{% endfor %}
		{% else %}
			<p>No wiki revisions.</p>
		{% endif %}
</div>
{% endblock %}
