{% extends "profiles/index.html" %}

{% load i18n %}

{% block contents %}
<div class="flex">
  <h4>Wiki Revisions</h4>

  {% if revisions %}
  {% for revision in revisions %}
  <div class="bg-white rounded-lg p-3 my-2">
    <a href="{{ revision.content_object.article.get_absolute_url }}" class="text-info">
      {{ revision.content_object.title }} [{{ revision.content_object.revision_number }}]
    </a>
    <div>Eingereicht: {{ revision.created | date }}</div>
    <div>Status: {{ revision.status }}</div>
  </div>
  {% endfor %}
  {% else %}
  <p>No wiki revisions.</p>
  {% endif %}
</div>
{% endblock %}
