{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="col-md-3">
		<div class="bg-white rounded flex" style="border: 2px solid #eee;">
			<div class="border-bottom font-weight-bold">
				<a href="/profile/quizzes" class="flex p-3" style="display: flex">Quizzes</a>
			</div>
			<div class="border-bottom font-weight-bold">
				<a href="/profile/wiki" class="flex p-3" style="display: flex">Flashcards</a>
			</div>
			<div class="border-bottom font-weight-bold">
				<a href="/profile/wiki" class="flex p-3" style="display: flex">Annotations</a>
			</div>
			<div class="border-bottom font-weight-bold">
				<a href="/profile/wiki" class="flex p-3" style="display: flex">Documents</a>
			</div>
			<div class="border-bottom font-weight-bold">
				<a href="/profile/wiki" class="flex p-3" style="display: flex">Wiki Revisions</a>
			</div>
		</div>

	</div>
	<div class="col-md-9">
		{% block contents %}
		{% endblock %}
	</div>
{% endblock %}
