{% load i18n %}
{% load comments %}
{% load wagtailcore_tags wagtailnews_admin_tags %}
{% load wagtailroutablepage_tags %}


{% block widget %}
	{% for group in groups %}
		<div class="article-group" style="margin-bottom: 50px;">
			<h3>{{ group.year }}</h3>

			<div class="article-cards" style="display: flex;">
				{% for article in group.articles %}
				<div class="article-card">
					<a href="{% routablepageurl article.articles_page 'article_by_date' article.date.year article.date.month article.date.day article.slug %}">{{ article.title }}</a>
					<div>
						<span class="meta badge badge-dark">{{ article.owner }}</span>
						<span class="meta badge badge-light">{{ article.date|date:"d.m.Y" }}</span>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
