{% load i18n %}
{% load comments %}
{% load wagtailcore_tags wagtailnews_admin_tags %}
{% load wagtailroutablepage_tags %}


{% block widget %}
<div class="">
    <h2>Tacheles-Veranstaltungen</h2>
    {% regroup events by get_semester_display as events_by_semester %}
        {% for semester in events_by_semester %}
            <h3>{{ semester.grouper }}</h3>
            {% for event in semester.list|dictsortreversed:"date" %}
                <p style="margin-bottom: 7px;">
                    <a href="{% routablepageurl event.events_page 'event_by_semester' event.semester event.slug %}">{{ event.title }} ({{ event.date|date:"d.m.Y" }})</a>
                </p>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
