{% block widget %}
<div class="flip-card-widget">
  <div class="flip-card-widget-inner">
    <div class="flip-card-widget-front">
    <div class="vertical-middle">
      {{ value.front }}
      </div>
    </div>
    <div class="flip-card-widget-back">
    <div class="vertical-middle">
      {{ value.back }}
      </div>
    </div>
  </div>
</div>

<script>
function compare(num1, num2) {
    if (num1 > num2) {
        return num1;
    } else if (num2 > num1) {
        return num2;
    } else {
        return num1;
    }
}
let elements = document.querySelectorAll('.flip-card-widget');
elements.forEach(function(card, index) {
    setTimeout(function() {
        let front = card.querySelector('.flip-card-widget-front');
        let back = card.querySelector('.flip-card-widget-back');
        let frontheight = front.offsetHeight;
        let backheight = back.offsetHeight;
        let totalheight = compare(frontheight, backheight);
        card.style.height = totalheight + 'px';
    }, 500);
});
</script>
{% endblock %}
