{% load i18n static %}
{% load wagtailcore_tags wagtailnews_admin_tags %}

<div>
  <h2>Jurcoach</h2>
  <p class="mt-2">Trainiere Dich, werde Teil des Projekts!</p>

  <div class="jurcoach-links-widgets">
    <div class="logo"><img src="{% static 'images/jurcoach-block.png' %}" alt=""></div>
    <a class="jurcoach-link text-left" href="{% url 'wiki:root' %}">
      <h3>Problem&shy;feldwiki</h3>
      <p>Das notwendige Wissen</p>
    </a>
    <a class="jurcoach-link text-right" href="{% url 'casetraining:index' %}">
      <h3>Falltraining</h3>
      <p>Klausursimulation online</p>
    </a>
    <a class="jurcoach-link text-left" href="{% url 'quiz:index' %}">
      <h3>Multiple-Choice-Test</h3>
      <p>Ein kurzer Test zwischendurch?</p>
    </a>
    <a class="jurcoach-link text-right" href="{% url 'profile:index' %}">
      <h3>Nutzerprofil</h3>
      <p>Die individuelle Lernumgebung</p>
    </a>
  </div>
</div>
