<footer class="footer">
  <div class="container">
    <div class="flex-item">
      <div class="logo"><a href="/">STRAFRECHT-ONLINE.ORG</a></div>
      <p class="sublogo">Institut für Kriminologie und Wirtschaftsstrafrecht</p>
      <p class="sublogo">Rechtswissenschaftliche Fakultät der Universität Freiburg</p>
    </div>
    <div class="flex-item">
      <div class="socialmediaicons">
	<a href="https://github.com/strafrecht" class="social-media-icon fab fa-github"></a>
	<a href="https://www.instagram.com/jurcoach/" class="social-media-icon fab fa-instagram"></a>
      </div>
      <div class="shortlinks">
	<a href="#">Datenschutz</a> | <a href="#">Impressum & Kontakt</a> | <a href="https://uni-freiburg.de/">Universität Freiburg</a>
      </div>
    </div>
  </div>
</footer>
