<footer class="footer">
  <div class="container">
    <div class="flex-item">
      <div class="logo"><a href="/">STRAFRECHT-ONLINE.ORG</a></div>
    <div class="shortlinks">
      <a href="https://www.jura.uni-freiburg.de/">Rechtswissenschaftliche Fakultät der Universität Freiburg</a>
      <a href="/institut/">Institut für Kriminologie und Wirtschaftsstrafrecht</a>
    </div>
  </div>
    <div class="flex-item">
      <div class="socialmediaicons">
	<a href="https://github.com/strafrecht" target="_blank" class="social-media-icon fab fa-github"></a>
	<a href="https://www.instagram.com/jurcoach/" target="_blank" class="social-media-icon fab fa-instagram"></a>
      </div>
      <div class="shortlinks">
	<a href="/datenschutz/">Datenschutz</a> | <a href="/institut/">Impressum &amp; Kontakt</a> | <a href="https://uni-freiburg.de/">Universität Freiburg</a>
      </div>
    </div>
  </div>
</footer>
