{% load wagtailcore_tags %}

<nav id="nav" class="navbar navbar-expand-md {% if page.slug == "strafrecht-online" %}navbar-trans{% endif %}">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample05">
			<div class="navbar-collapse-inner">
				<div style="display: flex; width: 100%;">
					<ul class="navbar-nav" style="flex-grow: 1;">
						<li class="nav-item dropdown">
							<a class="navbar-brand" href="/">§</a>
						</li>

						{% for page in request.site.root_page.get_children.specific %}
							{% if page.get_children.specific %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown-{{page.title}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ page.title }}</a>
								<div class="dropdown-menu" aria-labelledby="dropdown-{{page.title}}">
									<!--a class="dropdown-item" href="{% pageurl page %}">{{ page.subtitle }}</a-->
									{% for child in page.get_children.specific %}
										<a class="dropdown-item" href="{% pageurl child %}">{{ child.title }}</a>
									{% endfor %}
								</div>
							</li>
							{% else %}
							<li class="nav-item">
								<a class="nav-link" href="{% pageurl page %}">{{ page.title }}</a>
							</li>
							{% endif %}
						{% endfor %}
					</ul>

					<ul class="navbar-nav">
						{% if user.is_authenticated %}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-user-circle mr-2" style="font-size: 22px;"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{% url 'profile:index' %}">Profile</a>
								<a class="dropdown-item" href="#">Settings</a>
								<a class="dropdown-item" href="{% url 'profile:logout' %}">Logout</a>
							</div>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'profile:login' %}">Einloggen</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{# url 'profile:register' #}">Registrieren</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
